<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.iaas.IaasTxyfwbgImplMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.iaas.IaasTxyfwbgImpl">
        <id column="ID" property="id" />
        <result column="COMPONENT" property="component" />
        <result column="NET" property="net" />
        <result column="DEPLOY_APP" property="deployApp" />
        <result column="VIRTUAL_IP" property="virtualIp" />
        <result column="ACCOUNT" property="account" />
        <result column="PASSWORD" property="password" />
        <result column="REASON" property="reason" />
        <result column="CHANGE_STATUS" property="changeStatus" />
        <result column="BEFOR_RAM" property="beforRam" />
        <result column="BEFOR_STORAGE" property="beforStorage" />
        <result column="BEFOR_OS" property="beforOs" />
        <result column="RAM" property="ram" />
        <result column="STORAGE" property="storage" />
        <result column="OS" property="os" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
    </resultMap>

</mapper>
