<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.report.ReportIaasMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.report.ReportIaas">
        <id column="ID" property="id" />
        <result column="RESOURCE_NAME" property="resourceName" />
        <result column="CPU" property="cpu" />
        <result column="MEMORY" property="memory" />
        <result column="DISK" property="disk" />
        <result column="REMARK" property="remark" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
    </resultMap>

    <select id="getStatisticsData" resultType="com.upd.hwcloud.bean.entity.report.ReportIaas">
        SELECT RESOURCE_NAME,nvl(sum(CPU),0) CPU,nvl(sum(MEMORY),0) MEMORY,nvl(sum(DISK),0) DISK from TB_REPORT_IAAS
        WHERE APP_INFO_ID = #{appInfoId}
        GROUP BY RESOURCE_NAME
    </select>

</mapper>
