<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.workflow.mapper.WorkflowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.workflow.bean.Workflow">
        <id column="ID" property="id" />
        <result column="FLOW_NAME" property="flowName" />
        <result column="FLOW_REMARK" property="flowRemark" />
        <result column="CREATOR" property="creator" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="DEFAULT_PROCESS" property="defaultProcess" />
        <result column="FLOW_STATUS" property="flowStatus" />
        <result column="AREA" property="area" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="NATIONAL_SPECIAL_PROJECT" property="nationalSpecialProject" />
        <result column="FLOW_TYPE" property="flowType" />
        <result column="VERSION" property="version" />
        <result column="CREATOR_ORG_ID" property="creatorOrgId" />
        <result column="CREATOR_ID" property="creatorId" />
    </resultMap>

</mapper>
