<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.workflow.mapper.WorkflowInstanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.workflow.bean.WorkflowInstance">
        <id column="ID" property="id" />
        <result column="WORKFLOW_ID" property="workflowId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR" property="creator" />
        <result column="COMPLETE_TIME" property="completeTime" />
        <result column="VERSION" property="version" />
        <result column="BUSINESS_ID" property="businessId" />
        <result column="INSTANCE_STATUS" property="instanceStatus" />
        <result column="CREATOR_ORG_ID" property="creatorOrgId" />
    </resultMap>

</mapper>
