<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.workflow.mapper.WorkflowNodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.workflow.bean.WorkflowNode">
        <id column="ID" property="id" />
        <result column="WORKFLOW_ID" property="workflowId" />
        <result column="NODE_NAME" property="nodeName" />
        <result column="VERSION" property="version" />
        <result column="DEFAULT_HANDLER" property="defaultHandler" />
        <result column="NOTICE_PERSION" property="noticePersion" />
        <result column="ADVISER_PERSON" property="adviserPerson" />
        <result column="NODE_FEATURE" property="nodeFeature" />
        <result column="NODE_SORT" property="nodeSort" />
        <result column="REJECT_NUM" property="rejectNum" />
        <result column="NEXTMODELIDS" property="nextmodelids" />
        <result column="MODELTYPE" property="modeltype" />
    </resultMap>

    <select id="getNextNodeById" resultMap="BaseResultMap">
        select r.* from t_workflow_node l left join T_WORKFLOW_NODE r on l.NODE_SORT+1=r.NODE_SORT and l.WORKFLOW_ID=r.WORKFLOW_ID and l.VERSION=r.VERSION

        where l.id=#{id} and r.id is not null
    </select>

    <select id="getOldData" resultMap="BaseResultMap">
        select new.ID,new.WORKFLOW_ID,new.NODE_NAME,new.VERSION,new.DEFAULT_HANDLER,new.NOTICE_PERSION,new.ADVISER_PERSON,new.NODE_FEATURE,
         new.NODE_SORT,new.REJECT_NUM,old.NEXTMODELIDS,old.MODELTYPE from t_workflow_node new inner join TB_WFM_WORKFLOWMODEL old on new.id=old.id
    </select>

</mapper>
