<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.workflow.mapper.WorkflowActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.workflow.bean.WorkflowActivity">
        <id column="ID" property="id" />
        <result column="INSTANCE_ID" property="instanceId" />
        <result column="NODE_ID" property="nodeId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR" property="creator" />
        <result column="RECIVE_TIME" property="reciveTime" />
        <result column="HANDLE_TIME" property="handleTime" />
        <result column="HANDLE_PERSONS" property="handlePersons" />
        <result column="IS_START" property="isStart" />
        <result column="PRE_ACTIVITY_ID" property="preActivityId" />
        <result column="ACTIVITY_TYPE" property="activityType" />
        <result column="HANDLE_PERSON_NAME" property="handlePersonName" />
        <result column="ACTIVITY_STATUS" property="activityStatus" />
        <result column="CREATOR_ORG_ID" property="creatorOrgId" />
    </resultMap>

</mapper>
