<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.ncov.mapper.NcovRealtimeMapper">
  <resultMap id="BaseResultMap" type="com.hirisun.cloud.ncov.bean.NcovRealtime">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="diagnosis" jdbcType="DECIMAL" property="diagnosis" />
    <result column="suspected" jdbcType="DECIMAL" property="suspected" />
    <result column="death" jdbcType="DECIMAL" property="death" />
    <result column="cure" jdbcType="DECIMAL" property="cure" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="province_code" jdbcType="DECIMAL" property="provinceCode" />
    <result column="region_type" jdbcType="DECIMAL" property="regionType" />
  </resultMap>
  <resultMap id="ncovRealtimeVo" type="com.hirisun.cloud.model.ncov.vo.NcovRealtimeVo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="diagnosis" jdbcType="DECIMAL" property="diagnosis" />
    <result column="suspected" jdbcType="DECIMAL" property="suspected" />
    <result column="death" jdbcType="DECIMAL" property="death" />
    <result column="cure" jdbcType="DECIMAL" property="cure" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="province_code" jdbcType="DECIMAL" property="provinceCode" />
    <result column="region_type" jdbcType="DECIMAL" property="regionType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, region_name, diagnosis, suspected, death, cure, create_date, create_user, province_code, 
    region_type
  </sql>
  <sql id="limitDate">
  
  
  	(select create_date from (select create_date,rownum as rn from (select tn.create_date from t_ncov_realtime tn
                                 group by tn.create_date
                                 order by tn.create_date desc))
                         where rn = #{rowNum,jdbcType=DECIMAL})
  
  </sql>
  
  <select id="countNcovRealTime" resultMap="ncovRealtimeVo">
    select 
		sum(t.diagnosis) as diagnosis, 
		sum(t.suspected) as suspected, 
		sum(t.death) as death, 
		sum(t.cure) as cure
	from t_ncov_realtime t
		where t.region_type = #{regionType,jdbcType=DECIMAL} and t.create_date = <include refid="limitDate"></include>
  </select>
  
  <select id="findNcovRealtimeList" resultMap="ncovRealtimeVo">
  	select region_name,
  		   diagnosis, 
  		   suspected, 
  		   death, 
  		   cure, 
  		   province_code 
  		from t_ncov_realtime t 
		where t.region_type = #{regionType,jdbcType=DECIMAL} and t.create_date = <include refid="limitDate"></include>
  </select>
  
</mapper>