<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.ncov.mapper.NcovRealtimeMapper">
  <resultMap id="BaseResultMap" type="com.hirisun.cloud.ncov.bean.NcovRealtime">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="diagnosis" jdbcType="DECIMAL" property="diagnosis" />
    <result column="suspected" jdbcType="DECIMAL" property="suspected" />
    <result column="death" jdbcType="DECIMAL" property="death" />
    <result column="cure" jdbcType="DECIMAL" property="cure" />
    <result column="yesterday_diagnosis" jdbcType="DECIMAL" property="yesterdayDiagnosis" />
    <result column="yesterday_suspected" jdbcType="DECIMAL" property="yesterdaySuspected" />
    <result column="yesterday_death" jdbcType="DECIMAL" property="yesterdayDeath" />
    <result column="yesterday_cure" jdbcType="DECIMAL" property="yesterdayCure" />
    <result column="province_code" jdbcType="DECIMAL" property="provinceCode" />
    <result column="region_type" jdbcType="DECIMAL" property="regionType" />
  </resultMap>
  <resultMap id="ncovRealtimeVo" type="com.hirisun.cloud.model.ncov.vo.realtime.NcovRealtimeVo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="diagnosis" jdbcType="DECIMAL" property="diagnosis" />
    <result column="suspected" jdbcType="DECIMAL" property="suspected" />
    <result column="death" jdbcType="DECIMAL" property="death" />
    <result column="cure" jdbcType="DECIMAL" property="cure" />
    <result column="yesterday_diagnosis" jdbcType="DECIMAL" property="yesterdayDiagnosis" />
    <result column="yesterday_suspected" jdbcType="DECIMAL" property="yesterdaySuspected" />
    <result column="yesterday_death" jdbcType="DECIMAL" property="yesterdayDeath" />
    <result column="yesterday_cure" jdbcType="DECIMAL" property="yesterdayCure" />
    <result column="province_code" jdbcType="DECIMAL" property="provinceCode" />
    <result column="region_type" jdbcType="DECIMAL" property="regionType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, region_name, diagnosis, suspected, death, cure, province_code, 
    region_type,yesterday_diagnosis,yesterday_suspected,yesterday_death,yesterday_cure
  </sql>
  <sql id="ncovRealtimeColumn">
    region_name, diagnosis, suspected, death, cure, province_code, 
    region_type,yesterday_diagnosis,yesterday_suspected,yesterday_death,yesterday_cure
  </sql>
  
  
  <select id="findAll" resultMap="ncovRealtimeVo">
  	select <include refid="Base_Column_List"></include> 
  		from t_ncov_realtime t
  </select>
  
  <select id="countNcovRealTime" resultMap="ncovRealtimeVo">
    select 
		sum(t.diagnosis) as diagnosis, 
		sum(t.suspected) as suspected, 
		sum(t.death) as death, 
		sum(t.cure) as cure,
		sum(t.yesterday_diagnosis) as yesterdayDiagnosis, 
		sum(t.yesterday_suspected) as yesterdaySuspected, 
		sum(t.yesterday_death) as yesterdayDeath, 
		sum(t.yesterday_cure) as yesterdayCure
	from t_ncov_realtime t
		where t.region_type = #{regionType,jdbcType=DECIMAL} 
  </select>
  
  <select id="findNcovRealtimeList" resultMap="ncovRealtimeVo">
  	select <include refid="ncovRealtimeColumn"></include> 
  		from t_ncov_realtime t 
		where t.region_type = #{regionType,jdbcType=DECIMAL}
  </select>
  
</mapper>