<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.platform.document.mapper.DevDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.platform.document.bean.DevDoc">
        <result column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="IMAGE" property="image" />
        <result column="SORT_NUM" property="sortNum" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="STATUS" property="status" />
        <result column="CREATOR" property="creator" />
        <result column="CONTENT" property="content" />
        <result column="FIRST_CLASS" property="firstClass" />
        <result column="SECOND_CLASS" property="secondClass" />
        <result column="INTRO" property="intro" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <sql id="column_exclude_content">
        D.ID,D.TITLE,D.IMAGE,D.UPDATE_TIME,D.SORT_NUM,D.INTRO
    </sql>

    <select id="getPage" resultType="com.hirisun.cloud.platform.document.bean.DevDoc">
        SELECT
        <include refid="column_exclude_content" />,
        (SELECT c1.NAME FROM T_DEV_DOC_CLASS c1 WHERE D.FIRST_CLASS = c1.ID) AS firstClassName,
        (SELECT c2.NAME FROM T_DEV_DOC_CLASS c2 WHERE D.SECOND_CLASS = c2.ID) AS secondClassName,
        (SELECT COUNT(*) FROM T_DEV_DOC_FILE F WHERE F.DOC_ID = D.ID) AS num
        FROM T_DEV_DOC D
        WHERE
        <choose>
            <when test="param.status != null and param.status == 0">
                D.STATUS IN (0, 3)
            </when>
            <otherwise>
                D.STATUS = #{param.status}
            </otherwise>
        </choose>
        <if test="param.name != null and param.name != ''">
            AND (
            D.TITLE LIKE CONCAT(CONCAT('%',#{param.name}),'%')
            OR
            D.INTRO LIKE CONCAT(CONCAT('%',#{param.name}),'%')
            OR
            D.CONTENT LIKE CONCAT(CONCAT('%',#{param.name}),'%')
            )
        </if>
        <if test="param.firstClass != null and param.firstClass != ''">
            AND D.FIRST_CLASS = #{param.firstClass}
        </if>
        <if test="param.secondClass != null and param.secondClass != ''">
            AND D.SECOND_CLASS = #{param.secondClass}
        </if>
        <!--
           1.门户不登录可以看到全部
           2.后台管理分数据权限
           -->
        <if test="user != null and user.type != 100 and !param.isFront">
            AND D.CREATOR = #{ser.idCard}
        </if>

        ORDER BY D.SORT_NUM ASC, D.UPDATE_TIME DESC
    </select>

</mapper>
