<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.platform.document.mapper.UserDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.platform.document.bean.UserDoc">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="DOMAIN" property="domain" />
        <result column="SORT" property="sort" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="FILE_ID" property="fileId" />
        <result column="FILE_URL" property="fileUrl" />
    </resultMap>

    <select id="listByDomain" resultType="com.hirisun.cloud.platform.document.bean.UserDoc">
        select d.*,files.FILE_PATH as FILE_URL
        from T_USER_DOC d left join T_FILE_SYSTEM files on d.FILE_ID=files.ID
        where d.STATUS = 2 and d.DOMAIN = #{domain}
        order by d.SORT
    </select>

    <select id="getPage" resultType="com.hirisun.cloud.platform.document.bean.UserDoc">
        select d.*
        from T_USER_DOC d
        where d.STATUS = #{param.status}
        <if test="param.domain != null and param.domain != ''">
            and d.DOMAIN = #{param.domain}
        </if>
        <if test="param.name != null and param.name != ''">
            and d.NAME like CONCAT(CONCAT('%',#{param.name}),'%')
        </if>
        <if test="user.type != 100">
            and d.CREATOR = #{user.idcard}
        </if>
        order by d.DOMAIN,d.SORT
    </select>

</mapper>
