<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.servicePublish.ApiOperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.servicePublish.ApiOperation">
        <result column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="MASTER_ID" property="masterId" />
        <result column="NAME" property="name" />
        <result column="PATH" property="path" />
        <result column="METHOD" property="method" />
        <result column="WITH_ORCHESTRATION" property="withOrchestration" />
        <result column="MATCH_MODE" property="matchMode" />
        <result column="BACKEND_NAME" property="backendName" />
        <result column="BACKEND_TYPE" property="backendType" />
        <result column="BACKEND_PATH" property="backendPath" />
        <result column="BACKEND_METHOD" property="backendMethod" />
    </resultMap>

</mapper>
