<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.recover.ResourceRecoverMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.recover.ResourceRecover">
        <id column="ID" property="id" />
        <result column="SHRINK_TYPE" property="shrinkType" />
        <result column="AVAILABLE_PARTITION" property="availablePartition" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="MANUFACTURER" property="manufacturer" />
        <result column="INSTANCE_USER" property="instanceUser" />
        <result column="APPLICANT" property="applicant" />
        <result column="APPLICANT_PHONE" property="applicantPhone" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="APPLICATION_NAME" property="applicationName" />
        <result column="INSTANCE_NAME" property="instanceName" />
        <result column="PRIVATE_IP_ADDRESS" property="privateIpAddress" />
        <result column="INSTANCE_CREATED_TIME" property="instanceCreatedTime" />
        <result column="OS" property="os" />
        <result column="SPECIFICATION" property="specification" />
        <result column="CLOUD_HARD_DISK" property="cloudHardDisk" />
        <result column="BEFORE_SHRINK_CPU" property="beforeShrinkCpu" />
        <result column="BEFORE_SHRINK_MEMORY" property="beforeShrinkMemory" />
        <result column="BEFORE_SHRINK_DISK" property="beforeShrinkDisk" />
        <result column="AFTER_SHRINK_CPU" property="afterShrinkCpu" />
        <result column="AFTER_SHRINK_MEMORY" property="afterShrinkMemory" />
        <result column="AFTER_SHRINK_DISK" property="afterShrinkDisk" />
        <result column="CPU_AVG_RATIO" property="cpuAvgRatio" />
        <result column="CPU_MAX_RATIO" property="cpuMaxRatio" />
        <result column="MEMORY_AVG_RATIO" property="memoryAvgRatio" />
        <result column="MEMORY_MAX_RATIO" property="memoryMaxRatio" />
        <result column="CLOUD_DISK_AVG_RATIO" property="cloudDiskAvgRatio" />
        <result column="CLOUD_DISK_MAX_RATIO" property="cloudDiskMaxRatio" />
        <result column="IMPORT_TIME" property="importTime" />
        <result column="IMPORT_TIME_STR" property="importTimeStr" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="CREATOR_ID_CARD" property="creatorIdCard" />
        <result column="REF_ID" property="refId" />
        <result column="APPLICANT_ORG_NAME" property="applicantOrgName"/>
    </resultMap>
    
    
    <select id="groupPage" resultType="com.hirisun.cloud.model.system.ResourceRecoverResponseVo">
        select r.* from (select APPLICANT,APPLICANT_PHONE,count(*) resourceNum,APPLICANT_ORG_NAME,IMPORT_TIME_STR  from TB_RESOURCE_RECOVER
        <where>
             and CREATOR_ID_CARD = #{p.idCard}
             and STATUS = 0
            <if test="p.applicant != null and p.applicant != ''">
                and APPLICANT = #{p.applicant}
            </if>
            <if test="p.ip !=null and p.ip !=''">
                and PRIVATE_IP_ADDRESS = #{ip}
            </if>
            <if test="p.appName !=null and p.appName !=''">
                and APPLICATION_NAME = #{p.appName}
            </if>
            <if test="(p.startTime != null and p.startTime != '') and (p.endTime != null and p.endTime != '')">
                AND TO_CHAR(IMPORT_TIME,'YYYY-MM-DD') &gt;= #{p.startTime}
                AND TO_CHAR(IMPORT_TIME,'YYYY-MM-DD') &lt;= #{p.endTime}
            </if>
        </where>
        group by APPLICANT,APPLICANT_PHONE,APPLICANT_ORG_NAME,IMPORT_TIME_STR) r
        order by r.IMPORT_TIME_STR DESC,r.APPLICANT ASC
    </select>

</mapper>
