<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.servicePublish.ServiceStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.servicePublish.ServiceStatistics">
        <result column="ID" property="id" />
        <result column="CURRENT_MINUTE" property="currentMinute" />
        <result column="SERVICE_GUID" property="serviceGuid" />
        <result column="REQ_COUNT" property="reqCount" />
        <result column="AVG_LATENCY" property="avgLatency" />
        <result column="AVG_BACKEND_LATENCY" property="avgBackendLatency" />
        <result column="CURRENT_TIME" property="currentTime" />
        <result column="CATA_LOG" property="cataLog" />
        <result column="MAX_INNER_LATENCY" property="maxInnerLatency" />
        <result column="AVG_INNER_LATENCY" property="avgInnerLatency" />
        <result column="MAX_BACKEND_LATENCY" property="maxBackendLatency" />
        <result column="INPUT_THROUGHPUT" property="inputThroughput" />
        <result column="MAX_LATENCY" property="maxLatency" />
        <result column="OUTPUT_THROUGHPUT" property="outputThroughput" />
        <result column="REQ_COUNT_4XX" property="reqCount4xx" />
        <result column="REQ_COUNT_5XX" property="reqCount5xx" />
    </resultMap>

</mapper>
