<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.servicePublish.ServiceAlterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.servicePublish.ServiceAlter">
        <result column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="CREATOR" property="creator" />
        <result column="STATUS" property="status" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="ORDER_NUMBER" property="orderNumber" />
        <result column="SERVICE_NAME" property="serviceName" />
        <result column="SERVICE_TYPE" property="serviceType" />
        <result column="IS_PUBLISH_APIG" property="isPublishApig" />
        <result column="IS_FROM_APP" property="isFromApp" />
        <result column="FROM_APP_NAME" property="fromAppName" />
        <result column="FROM_APP_ID" property="fromAppId" />
        <result column="AREA_NAME" property="areaName" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="CATEGORY" property="category" />
        <result column="PRIORITY_NAME" property="priorityName" />
        <result column="VENDOR" property="vendor" />
        <result column="REMARK" property="remark" />
        <result column="LOGO_URL" property="logoUrl" />
        <result column="WORK_FLOW_ID" property="workFlowId" />
        <result column="TAG" property="tag" />
        <result column="WHERE_FROM" property="whereFrom" />
        <result column="JS_UNIT" property="jsUnit" />
        <result column="JS_PRINCIPAL" property="jsPrincipal" />
        <result column="JS_PRINCIPAL_PHONE" property="jsPrincipalPhone" />
        <result column="JS_MANAGER" property="jsManager" />
        <result column="JS_MANAGER_PHONE" property="jsManagerPhone" />
        <result column="CJ_UNIT" property="cjUnit" />
        <result column="CJ_PRINCIPAL" property="cjPrincipal" />
        <result column="CJ_PRINCIPAL_PHONE" property="cjPrincipalPhone" />
        <result column="CJ_HANDLER" property="cjHandler" />
        <result column="CJ_HANDLER_PHONE" property="cjHandlerPhone" />
        <result column="CJ_PRINCIPAL_IDCARD" property="cjPrincipalIdcard" />
        <result column="CJ_ORG_CODE" property="cjOrgCode" />
        <result column="CJ_INPUT_TYPE" property="cjInputType" />
        <result column="BUILD_MODE" property="buildMode" />
        <result column="UPDATE_CYCLE" property="updateCycle" />
        <result column="DATA_RESOURCE" property="dataResource" />
        <result column="DATA_FROM" property="dataFrom" />
        <result column="FROM_SYSTEM" property="fromSystem" />
        <result column="FROM_NET" property="fromNet" />
        <result column="COLLECTION_UNIT" property="collectionUnit" />
        <result column="WORK_FLOW_VERSION" property="workFlowVersion" />
        <result column="REGION_ID" property="regionId" />
        <result column="API_PRODUCT_ID" property="apiProductId" />
    </resultMap>

</mapper>
