<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.servicePublish.ServicePublishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.servicePublish.ServicePublish">
        <id column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="CREATOR" property="creator" />
        <result column="STATUS" property="status" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="ORDER_NUMBER" property="orderNumber" />
        <result column="SERVICE_NAME" property="serviceName" />
        <result column="SERVICE_TYPE" property="serviceType" />
        <result column="IS_PUBLISH_APIG" property="isPublishApig" />
        <result column="IS_FROM_APP" property="isFromApp" />
        <result column="FROM_APP_NAME" property="fromAppName" />
        <result column="FROM_APP_ID" property="fromAppId" />
        <result column="AREA_NAME" property="areaName" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="CATEGORY" property="category" />
        <result column="PRIORITY_NAME" property="priorityName" />
        <result column="VENDOR" property="vendor" />
        <result column="REMARK" property="remark" />
        <result column="LOGO_URL" property="logoUrl" />
        <result column="WORK_FLOW_ID" property="workFlowId" />
        <result column="TAG" property="tag" />
        <result column="WHERE_FROM" property="whereFrom" />
        <result column="JS_UNIT" property="jsUnit" />
        <result column="JS_PRINCIPAL" property="jsPrincipal" />
        <result column="JS_PRINCIPAL_PHONE" property="jsPrincipalPhone" />
        <result column="JS_MANAGER" property="jsManager" />
        <result column="JS_MANAGER_PHONE" property="jsManagerPhone" />
        <result column="CJ_UNIT" property="cjUnit" />
        <result column="CJ_PRINCIPAL" property="cjPrincipal" />
        <result column="CJ_PRINCIPAL_PHONE" property="cjPrincipalPhone" />
        <result column="CJ_HANDLER" property="cjHandler" />
        <result column="CJ_HANDLER_PHONE" property="cjHandlerPhone" />
        <result column="CJ_PRINCIPAL_IDCARD" property="cjPrincipalIdcard" />
        <result column="CJ_ORG_CODE" property="cjOrgCode" />
        <result column="CJ_INPUT_TYPE" property="cjInputType" />
        <result column="BUILD_MODE" property="buildMode" />
        <result column="UPDATE_CYCLE" property="updateCycle" />
        <result column="DATA_RESOURCE" property="dataResource" />
        <result column="DATA_FROM" property="dataFrom" />
        <result column="FROM_SYSTEM" property="fromSystem" />
        <result column="FROM_NET" property="fromNet" />
        <result column="COLLECTION_UNIT" property="collectionUnit" />
        <result column="WORK_FLOW_VERSION" property="workFlowVersion" />
        <result column="REGION_ID" property="regionId" />
        <result column="SERVICE_CODE" property="serviceCode" />
    </resultMap>

    <select id="getPage" resultMap="BaseResultMap">
        SELECT distinct ai.*,ins.ID instanceId
        from TB_WFM_ACTIVITY act,TB_WFM_INSTANCE ins,TB_SERVICE_PUBLISH ai ,TB_WFM_WORKFLOWMODEL m
        <where>
            <include refid="publicQuery"/>
            and ai.ID=ins.BUSINESSID and act.INSTANCEID = ins.ID  and m.ID=act.MODELID and ai.ORDER_NUMBER IS NOT NULL
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.startDate}
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.endDate}
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.user.type != 100">
                and (act.HANDLEPERSONIDS =  #{p.user.idcard} or m.noticeperon like concat(concat('%', #{p.user.idcard}),'%') )
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.processType == 1">
                and act.HANDLEPERSONIDS =#{p.user.idcard}
                AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <!-- 选择处理人为:其他人 -->
            <if test="p.processType == 2">
                and  act.HANDLEPERSONIDS !=#{p.user.idcard}  AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <if test="p.orderNumber !=null and p.orderNumber !=''">
                and ai.ORDER_NUMBER like #{p.orderNumber}
            </if>
            <if test="p.serviceName !=null and p.serviceName !=''">
                and ai.SERVICE_NAME like #{p.serviceName}
            </if>
            and ai.WHERE_FROM='1'
        </where>
        ORDER BY ai.MODIFIED_TIME DESC
    </select>

    <select id="getReviewCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT ai.ID)
        FROM TB_SERVICE_PUBLISH ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE ai.STATUS in (1,7,101,102) and ai.WHERE_FROM='1'
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  ai.POLICE_CATEGORY = #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  ai.AREA_NAME = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and ai.CREATOR = #{p.queryVO.creator}
        </if>
        and act.ACTIVITYTYPE is null and act.ACTIVITYSTATUS = '待办'
    </select>

    <select id="getImplCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT ai.ID)
        FROM TB_SERVICE_PUBLISH ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE ai.STATUS = 2 and ai.WHERE_FROM='1'
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  ai.POLICE_CATEGORY = #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  ai.AREA_NAME = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and ai.CREATOR = #{p.queryVO.creator}
        </if>
        and act.ACTIVITYTYPE is null and act.ACTIVITYSTATUS = '待办'
    </select>

    <select id="getRejectCount" resultType="java.lang.Integer">
        select count(*) from TB_SERVICE_PUBLISH a where a.STATUS in (5,6,8) and a.WHERE_FROM='1'
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  a.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            and  (a.AREA_NAME = '省厅' or a.AREA_NAME is null)
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  a.AREA_NAME = #{p.queryVO.area}
            and  a.AREA_NAME != '省厅'
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and a.CREATOR = #{p.queryVO.creator}
        </if>
    </select>

    <select id="getUseCount" resultType="java.lang.Integer">
        select count(*) from TB_SERVICE_PUBLISH a where a.STATUS = 3 and a.WHERE_FROM='1'
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  a.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            and  (a.AREA_NAME = '省厅' or a.AREA_NAME is null)
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  a.AREA_NAME = #{p.queryVO.area}
            and  a.AREA_NAME != '省厅'
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and a.CREATOR = #{p.queryVO.creator}
        </if>
    </select>

</mapper>
