<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.ServiceAlterApiProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.ServiceAlterApiProduct">
        <id column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="ALTER_ID" property="alterId" />
        <result column="NAME" property="name" />
        <result column="VERSION" property="version" />
        <result column="MICROGW" property="microgw" />
        <result column="MICROGW_DOMAIN_NAME" property="microgwDomainName" />
        <result column="REMARK" property="remark" />
    </resultMap>

</mapper>
