<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.servicePublish.ServiceAlterBackendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.servicePublish.ServiceAlterBackend">
        <result column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="ALTER_ID" property="alterId" />
        <result column="NAME" property="name" />
        <result column="SERVICE_AUTH_TYPE" property="serviceAuthType" />
        <result column="AUTH_NAME" property="authName" />
        <result column="AUTH_PASSWORD" property="authPassword" />
        <result column="BACKEND_PROTOCOL" property="backendProtocol" />
        <result column="BACKEND_PORT" property="backendPort" />
        <result column="HEADER_HOST" property="headerHost" />
        <result column="BACKEND_TIME_OUT" property="backendTimeOut" />
        <result column="REMARK" property="remark" />
        <result column="CASCADE_FLAG" property="cascadeFlag" />
        <result column="HC_PROTOCOL" property="hcProtocol" />
        <result column="HC_PORT" property="hcPort" />
        <result column="HC_ADDRESS" property="hcAddress" />
        <result column="HC_ADDRESS_TYPE" property="hcAddressType" />
        <result column="HC_THRESHOLD_NORMAL" property="hcThresholdNormal" />
        <result column="HC_THRESHOLD_ABNORMAL" property="hcThresholdAbnormal" />
        <result column="HC_TIME_OUT" property="hcTimeOut" />
        <result column="HC_TIME_INTERVAL" property="hcTimeInterval" />
        <result column="HC_HTTP_CODE" property="hcHttpCode" />
        <result column="BALANCE_STRATEGY" property="balanceStrategy" />
        <result column="MICROGW" property="microgw" />
    </resultMap>

</mapper>
