<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.publish.ServicePublishApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.publish.ServicePublishApi">
        <id column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="PUBLISH_ID" property="publishId" />
        <result column="NAME" property="name" />
        <result column="VERSION" property="version" />
        <result column="PROTOCOL" property="protocol" />
        <result column="BASE_PATH" property="basePath" />
        <result column="AUTH_TYPE" property="authType" />
        <result column="REMARK" property="remark" />
        <result column="FC_NAME" property="fcName" />
        <result column="FC_THRESHOLD_TYPE" property="fcThresholdType" />
        <result column="FC_API_THRESHOLD" property="fcApiThreshold" />
        <result column="FC_API_TIME" property="fcApiTime" />
        <result column="FC_TIME_UNIT" property="fcTimeUnit" />
        <result column="FC_TIME_INTERVAL" property="fcTimeInterval" />
        <result column="FC_APP_TIME" property="fcAppTime" />
        <result column="FC_REMARK" property="fcRemark" />
        <result column="IS_AC" property="isAc" />
        <result column="AC_NAME" property="acName" />
        <result column="AC_TYPE" property="acType" />
        <result column="AC_ACTION" property="acAction" />
    </resultMap>

</mapper>
