<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.platform.information.mapper.CarouselMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.platform.information.bean.Carousel">
        <result column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="URL" property="url" />
        <result column="IMAGE_ID" property="imageId" />
        <result column="SORT_NUM" property="sortNum" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="STATUS" property="status" />
        <result column="CREATOR" property="creator" />
        <result column="LINK" property="link" />
        <result column="CONTENT" property="content" />
        <result column="PROVINCIAL" property="provincial" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="AREA" property="area" />
        <result column="PROJECT" property="project" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

</mapper>
