<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.IaasTxyfwMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.IaasTxyfw">
        <id column="ID" property="id" />
        <result column="COMPONENT" property="component" />
        <result column="SPECIFICATION" property="specification" />
        <result column="STORAGE" property="storage" />
        <result column="OS" property="os" />
        <result column="NET" property="net" />
        <result column="NUM" property="num" />
        <result column="DEPLOY_APP" property="deployApp" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="APP_TYPE" property="appType" />
        <result column="GPU_NUM" property="gpuNum" />
        <result column="COMPONENT_DESC" property="componentDesc" />
    </resultMap>

    <select id="getTotalNum" resultType="java.lang.Integer">
        SELECT
          NVL(SUM(NUM), 0)
        FROM TB_IAAS_TXYFW
        WHERE APP_INFO_ID = #{appInfoId}
    </select>

    <select id="getTotalNumOfShoppingCart" resultType="java.lang.Integer">
                SELECT
          NVL(SUM(NUM), 0)
        FROM TB_IAAS_TXYFW
        WHERE SHOPPING_CART_ID = #{shoppingCartId}
    </select>

    <select id="getEcsListInWorkbench" resultType="com.upd.hwcloud.bean.entity.application.IaasTxyfwImpl">
        select  i.CREATOR_NAME createName,i.ORDER_NUMBER orderNumber,impl.* from TB_APPLICATION_INFO i,TB_IAAS_TXYFW_IMPL impl
         where
         i.FORM_NUM = 'IAAS_TXYFW' and i.ID =impl.APP_INFO_ID and i.STATUS = 3
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
           and   i.CREATOR= #{p.queryVO.creator}
         </if>
        <if test="p.queryVO.creatorName !=null and p.queryVO.creatorName !=''">
            and   i.CREATOR_NAME= #{p.queryVO.creatorName}
        </if>
         <if test="p.queryVO.queryId !=null and p.queryVO.queryId !=''">
           and  impl.SERVER_ID = #{p.queryVO.queryId}
         </if>
         <if test="(p.queryVO.startDate !=null and p.queryVO.endDate!='') and (p.queryVO.startDate !=null and p.queryVO.endDate!='')">
            AND TO_CHAR(impl.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.queryVO.startDate}
            AND TO_CHAR(impl.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.queryVO.endDate}
         </if>
         <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and i.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            and (i.AREA_NAME = '省厅' or i.AREA_NAME is null)
         </if>
         <if test="p.queryVO.area !=null and p.queryVO.area != ''">
            and i.AREA_NAME = #{p.queryVO.area}
            and i.AREA_NAME != '省厅'
         </if>
    </select>

</mapper>
