<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.IaasTxyfzjhMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.IaasTxyfzjh">
        <id column="ID" property="id" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="ACCESS_PROTOCOL" property="accessProtocol" />
        <result column="ACCESS_PORT" property="accessPort" />
        <result column="STRAGE_TYPE" property="strageType" />
        <result column="SESSION_TYPE" property="sessionType" />
    </resultMap>

</mapper>
