<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.IaasYzmyzyUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.IaasYzmyzyUser">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="IDCARD" property="idcard" />
        <result column="PHONE" property="phone" />
        <result column="COMPANY" property="company" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="USER_TYPE" property="userType" />
        <result column="SEX" property="sex" />
        <result column="JS_PRINCIPAL" property="jsPrincipal" />
        <result column="JS_PRINCIPAL_PHONE" property="jsPrincipalPhone" />
        <result column="CJ_PRINCIPAL" property="cjPrincipal" />
        <result column="CJ_PRINCIPAL_PHONE" property="cjPrincipalPhone" />
        <result column="YZY_IP" property="yzyIp" />
        <result column="ACCOUNT" property="account" />
        <result column="PASSWORD" property="password" />
        <result column="USER_STATUS" property="userStatus" />
    </resultMap>

</mapper>
