<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.PaasDthtjyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.PaasDthtjy">
        <id column="ID" property="id" />
        <result column="VALIDITY_PERIOD_START" property="validityPeriodStart" />
        <result column="FREQUENCY" property="frequency" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="VALIDITY_PERIOD_END" property="validityPeriodEnd" />
        <result column="RES_PERSON" property="resPerson" />
        <result column="TEL" property="tel" />
        <result column="MAP_CHECK" property="mapCheck" />
        <result column="ERROR_MSG" property="errorMsg" />
        <result column="ERROR_JSON" property="errorJson" />
        <result column="INSTANCE_GUID" property="instanceGuid" />
        <result column="USER_DATA" property="userData" />
    </resultMap>

</mapper>
