<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.PaasLibraDbWhitelistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.PaasLibraDbWhitelist">
        <id column="ID" property="id" />
        <result column="USER_NAME" property="userName" />
        <result column="IP_ADDRESS" property="ipAddress" />
        <result column="MAC_ADDRESS" property="macAddress" />
        <result column="IP_TYPE" property="ipType" />
        <result column="APPLY_REASON" property="applyReason" />
        <result column="DB" property="db" />
        <result column="DB_IP_ADDRESS" property="dbIpAddress" />
        <result column="APPLY_TIME" property="applyTime" />
        <result column="DB_ACCOUNTS" property="dbAccounts" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="SHOPPING_CART_ID" property="shoppingCartId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
    </resultMap>

</mapper>
