<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.PaasRqzyImplMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.PaasRqzyImpl">
        <id column="ID" property="id" />
        <result column="NODE_IP" property="nodeIp" />
        <result column="NODE_CONFIG" property="nodeConfig" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="MASTER_ID" property="masterId" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
    </resultMap>

</mapper>
