<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.PaasBigdataComponentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.PaasBigdataComponent">
        <id column="ID" property="id" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CLUSTER_TYPE" property="clusterType" />
        <result column="ACCOUNT" property="account" />
        <result column="EXPLANATION" property="explanation" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="SHOPPING_CART_ID" property="shoppingCartId" />
        <result column="NAME" property="name" />
        <result column="STRING" property="string" />
    </resultMap>

</mapper>
