<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.PaasFirewallOpenExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.paas.firewall.PaasFirewallOpenExt">
        <id column="ID" property="id" />
        <result column="SOURCE_ADDRESS" property="sourceAddress" />
        <result column="SOURCE_PROTOCOL" property="sourceProtocol" />
        <result column="SOURCE_NET" property="sourceNet" />
        <result column="SOURCE_ORG" property="sourceOrg" />
        <result column="SOURCE_APP" property="sourceApp" />
        <result column="DESTINATION_ADDRESS" property="destinationAddress" />
        <result column="DESTINATION_PROTOCOL" property="destinationProtocol" />
        <result column="DESTINATION_TYPE" property="destinationType" />
        <result column="DESTINATION_NET" property="destinationNet" />
        <result column="DESTINATION_ORG" property="destinationOrg" />
        <result column="DESTINATION_APP" property="destinationApp" />
        <result column="DESTINATION_PORT" property="destinationPort" />
        <result column="OPEN_DESCRIPTION" property="openDescription" />
        <result column="MASTER_ID" property="masterId" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="SHOPPING_CART_ID" property="shoppingCartId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
    </resultMap>

</mapper>
