<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.application.SaasServiceApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.application.SaasServiceApplication">
        <id column="ID" property="ID" />
        <result column="NAME" property="name" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="API_GUID" property="apiGuid" />
        <result column="VERSION" property="version" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="APP_KEY" property="appKey" />
        <result column="APP_SECRET" property="appSecret" />
        <result column="ERROR_MSG" property="errorMsg" />
        <result column="ERROR_JSON" property="errorJson" />
        <result column="INSTANCE_GUID" property="instanceGuid" />
        <result column="USER_DATA" property="userData" />
    </resultMap>

</mapper>
