<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.paas.mapper.PaasSecurityTamperProofMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.paas.bean.PaasSecurityTamperProof">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="CLIENT_NUM" property="clientNum" />
        <result column="VPC" property="vpc" />
        <result column="SECURITY_GROUP" property="securityGroup" />
        <result column="SUB_NET" property="subNet" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="APP_INFO_ID" property="appInfoId" />
    </resultMap>

</mapper>
