<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.paas.mapper.PaasRdbBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.paas.bean.PaasRdbBase">
        <id column="ID" property="id" />
        <result column="APPLY_TYPE" property="applyType" />
        <result column="DATABASE_TYPE" property="databaseType" />
        <result column="DATABASE_VERSION" property="databaseVersion" />
        <result column="CHARACTER_SET" property="characterSet" />
        <result column="MAX_CONCURRENT" property="maxConcurrent" />
        <result column="APPLY_EXPLAIN" property="applyExplain" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="IP" property="ip" />
        <result column="PORT" property="port" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
    </resultMap>

</mapper>
