<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.paas.mapper.PaasDcsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.paas.bean.PaasDcs">
        <id column="ID" property="id" />
        <result column="COMPONENT" property="component" />
        <result column="OPEN_SOURCE_VERSION" property="openSourceVersion" />
        <result column="ARCHITECTURE" property="architecture" />
        <result column="TOTAL_MEMORY" property="totalMemory" />
        <result column="SINGLE_NODE_SPECIFICATIONS" property="singleNodeSpecifications" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="SHOPPING_CART_ID" property="shoppingCartId" />
    </resultMap>

</mapper>
