<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.paas.mapper.PaasMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.paas.bean.Paas">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="SHORT_NAME" property="shortName" />
        <result column="SUB_TYPE" property="subType" />
        <result column="SORT" property="sort" />
        <result column="VERSION_CODE" property="versionCode" />
        <result column="URL" property="url" />
        <result column="SUB_PAGE_URL" property="subPageUrl" />
        <result column="IMAGE" property="image" />
        <result column="DESCRIPTION" property="description" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="STATUS" property="status" />
        <result column="CREATOR" property="creator" />
        <result column="TOP" property="top" />
        <result column="SUB_TYPE_NAME" property="subTypeName" />
        <result column="BUILD_STATUS" property="buildStatus" />
        <result column="IN_NUM" property="inNum" />
        <result column="SUB_PAGE_PERMISSION" property="subPagePermission" />
        <result column="HOME" property="home" />
        <result column="CAN_APPLICATION" property="canApplication" />
        <result column="HAS_DOC" property="hasDoc" />
        <result column="TAG_DESC" property="tagDesc" />
        <result column="API_ACCESS" property="apiAccess" />
        <result column="FORM_NUM" property="formNum" />
        <result column="WORK_FLOW_ID" property="workFlowId"/>
        <result column="SERVICE_GUID" property="serviceGuid" />
        <result column="REGIST_ID" property="registId" />
        <result column="APPLICATION_SHOW" property="applicationShow"/>
        <result column="BIG_DATA_COMPONENT_FLAG" property="bigDataComponentFlag"/>
        <!-- <association property="user" column="CREATOR" select="com.upd.hwcloud.dao.UserMapper.findUserByIdcard" /> -->
    </resultMap>

    <resultMap id="onLineService" type="com.hirisun.cloud.model.pass.vo.OnLineServiceVo">
        <id column="ID" property="id" />
        <result column="TARGET_ID" property="targetId" />
        <result column="ONLINETIME" property="onlineTime" />
    </resultMap>

    <select id="getPage" resultMap="BaseResultMap">
        SELECT S.*<!-- ,(SELECT NAME FROM SYS_DICT D WHERE D.ID = S.SUB_TYPE) SUB_TYPE_NAME -->
        FROM T_PAAS_CONFIG S
        WHERE
        <choose>
            <when test="status != null and status == 0">
                STATUS IN (0, 3)
            </when>
            <otherwise>
                STATUS = #{status}
            </otherwise>
        </choose>
        <if test="name != null and name != ''">
                AND NAME LIKE CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="subType != null and subType != ''">
            AND SUB_TYPE = #{subType}
        </if>
        <if test="user.type != 100">
            AND CREATOR = #{user.idcard}
        </if>
        ORDER BY SORT ASC, MODIFIED_TIME DESC
    </select>

    <select id="getLabel" resultMap="BaseResultMap">
        <!--select ss.SERVICE_ID,ss.USE
        from TB_SUBPAGE ss
        left join T_PAAS_CONFIG s on ss.SERVICE_ID = s.ID
        where s.STATUS = 2 and ss.USE is not null
        <if test="home != null">
            and s.HOME = #{home}
        </if>
        <if test="canApplication != null">
            and s.CAN_APPLICATION = #{canApplication}
        </if>
        <if test="typeId != null and typeId != ''">
            and s.SUB_TYPE = #{typeId}
        </if>-->
        select s.ID,s.TAG_DESC
        from T_PAAS_CONFIG s

        where s.STATUS = 2 and s.TAG_DESC is not null
        <if test="home != null">
            and s.HOME = #{home}
        </if>
        <if test="canApplication != null">
            and s.CAN_APPLICATION = #{canApplication}
        </if>
        <if test="typeId != null and typeId != ''">
        and s.SUB_TYPE = #{typeId}
    </if>
    </select>

    <select id="getPageByCondition" resultType="com.hirisun.cloud.paas.bean.Paas">
        select s.*
        from T_PAAS_CONFIG s
        where s.STATUS = 2
        <if test="home != null">
            and s.HOME = #{home}
        </if>
        <if test="canApplication != null">
            and s.CAN_APPLICATION = #{canApplication}
        </if>
        <if test="applicationShow !=null">
            and s.APPLICATION_SHOW = #{applicationShow}
        </if>
        <if test="typeId != null and typeId != ''">
            and s.SUB_TYPE = #{typeId}
        </if>
        <if test="keyword != null and keyword != ''">
            and s.NAME like CONCAT(CONCAT('%',#{keyword}),'%')
        </if>
        <if test="label != null and label != ''">
            and s.TAG_DESC like CONCAT(CONCAT('%',#{label}),'%')
        </if>
        order by instr('0,2,1', s.BUILD_STATUS),s.SORT asc,s.MODIFIED_TIME desc
    </select>

    <select id="getOnlineService" resultMap="onLineService">
        SELECT s.ID,o.TARGET_ID,MIN(o.MODIFIED_TIME) AS ONLINETIME
        FROM T_PAAS_CONFIG s,TB_OPERATE_RECORD o
        WHERE s.ID = o.TARGET_ID AND s.STATUS = 2 AND s.HOME = 1 AND o.RESULT = '上线'
        GROUP BY s.ID,o.TARGET_ID
        ORDER BY ONLINETIME DESC
    </select>

    <select id="getCategoryNameById" resultType="java.lang.String">
        select dict.NAME from SYS_DICT dict,T_PAAS_CONFIG p where  dict.ID = p.SUB_TYPE and p.ID = #{id}
    </select>

</mapper>
