<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.paas.mapper.PassTyyhUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.paas.bean.PassTyyhUser">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="IDCARD" property="idcard" />
        <result column="PHONE" property="phone" />
        <result column="COMPANY" property="company" />
        <result column="JS_UNIT" property="jsUnit" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="POSITION" property="position" />
        <result column="TYPE" property="type" />
        <result column="GOV_UNIT" property="govUnit" />
        <result column="GOV_CODE" property="govCode" />
    </resultMap>

</mapper>
