<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.iaasConfig.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.iaasConfig.Resource">
        <id column="ID" property="id" />
        <result column="VM_NUM" property="vmNum" />
        <result column="SORT" property="sort" />
        <result column="NAME" property="name" />
        <result column="TYPE" property="type" />
        <result column="BIG_TYPE" property="bigType" />
    </resultMap>

</mapper>
