<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.user.mapper.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.user.bean.Org">
        <id column="ID" property="id" />
        <result column="CODE" property="code" />
        <result column="FULL_NAME" property="fullName" />
        <result column="SHORT_NAME" property="shortName" />
        <result column="AREA_CODE" property="areaCode" />
        <result column="ORG_TYPE" property="orgType" />
        <result column="ORG_KIND" property="orgKind" />
        <result column="DEPT_KIND" property="deptKind" />
        <result column="BIZ_TYPE" property="bizType" />
        <result column="ORG_LEVEL" property="orgLevel" />
        <result column="UP_GOV_ID" property="upGovId" />
        <result column="UP_GOV_NAME" property="upGovName" />
        <result column="LINK_MAN" property="linkMan" />
        <result column="TEL" property="tel" />
        <result column="EMAIL" property="email" />
        <result column="ADDRESS" property="address" />
        <result column="POSTCODE" property="postcode" />
        <result column="DETAIL" property="detail" />
        <result column="DELETED" property="deleted" />
        <result column="ORG_START_DATE" property="orgStartDate" />
        <result column="ORG_END_DATE" property="orgEndDate" />
        <result column="SORT_NO" property="sortNo" />
        <result column="ORG_RANK" property="orgRank" />
        <result column="TENANT_MANAGER" property="tenantManager" />
    </resultMap>

</mapper>
