<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.user.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.user.bean.Permission">
        <result column="ID" property="id"/>
        <result column="PID" property="pid"/>
        <result column="NAME" property="name"/>
        <result column="TYPE" property="type"/>
        <result column="SORT" property="sort"/>
        <result column="URL" property="url"/>
        <result column="PERM_CODE" property="permCode"/>
        <result column="ICON" property="icon"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFIED_TIME" property="modifiedTime"/>
    </resultMap>

    <select id="listRoleMenu" resultType="com.hirisun.cloud.user.bean.Permission">
        SELECT
        p.*
        FROM t_sys_permission p
        LEFT JOIN T_SYS_ROLE_PERMISSION rp ON rp.pid=p.id
        where
        rp.rid=#{param.rid}
        <if test="param.pid!=null">
            AND p.pid=#{param.pid}
        </if>
        <if test="param.type!=null">
            AND p.type=#{param.type}
        </if>
        ORDER BY p.sort
    </select>

    <select id="listUserMenu" resultMap="BaseResultMap">
        SELECT
        DISTINCT p.*
        FROM T_SYS_PERMISSION p
        LEFT JOIN T_SYS_ROLE_PERMISSION rp ON rp.pid=p.id
        LEFT JOIN T_SYS_USER_ROLE ur ON ur.role_id=rp.rid
        where
        ur.user_id=#{param.uid}
        <if test="param.pid!=null">
            AND p.pid=#{param.pid}
        </if>
        <if test="param.type!=null">
            AND p.type=#{param.type}
        </if>
        ORDER BY p.sort
    </select>

</mapper>
