<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.user.bean.User">
        <id column="ID" property="id" />
        <result column="USER_TYPE" property="userType" />
        <result column="NAME" property="name" />
        <result column="ID_CARD" property="idCard" />
        <result column="NATION" property="nation" />
        <result column="SEX" property="sex" />
        <result column="BIRTH" property="birth" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="PHOTO" property="photo" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="ADDRESS" property="address" />
        <result column="SORT_NO" property="sortNo" />
        <result column="MAN_TYPE" property="manType" />
        <result column="RANK" property="rank" />
        <result column="TITLE" property="title" />
        <result column="POLICE_ID" property="policeId" />
        <result column="POLICE_NAME" property="policeName" />
        <result column="COMPANY" property="company" />
        <result column="COMPANY_PERSON" property="companyPerson" />
        <result column="PERSON_MOBILE" property="personMobile" />
        <result column="PROJECT" property="project" />
        <result column="DELETED" property="deleted" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="POLICE_NUMBER" property="policeNumber" />
        <result column="MOBILE_PRIVTE" property="mobilePrivte" />
        <result column="MOBILE_WORK" property="mobileWork" />
        <result column="PHONE" property="phone" />
        <result column="QQ_ACCOUNT" property="qqAccount" />
        <result column="EMAIL" property="email" />
        <result column="WX_ACCOUNT" property="wxAccount" />
        <result column="BIRTH_STR" property="birthStr" />
        <result column="CREATE_TIME_STR" property="createTimeStr" />
        <result column="TYPE" property="type" />
        <result column="NOTIFY_TYPE" property="notifyType" />
        <result column="AUXILIARY_TYPE" property="auxiliaryType" />
        <result column="JOB_TYPE" property="jobType" />
        <result column="POST_TYPE" property="postType" />
        <result column="IS_PARENT_ORG" property="isParentOrg" />
        <result column="TENANT_AREA" property="tenantArea" />
        <result column="TENANT_POLICE_CATEGORY" property="tenantPoliceCategory" />
        <result column="DEFAULT_TENANT" property="defaultTenant" />
        <result column="BELONG_AREA" property="belongArea" />
        <result column="BELONG_POLICE_TYPE" property="belongPoliceType" />
        <result column="USER_NUMBER" property="userNumber" />
        <result column="GOV_CODE" property="govCode" />
        <result column="DELETE_TIME" property="deleteTime" />
        <result column="POST" property="post" />
        <result column="GOV_ID" property="govId" />
        <result column="GOV_NAME" property="govName" />
        <result column="PERSON_NELTYPE" property="personNeltype" />
        <result column="NATIONAL_PROJECT" property="nationalProject" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="COMPANY_NAME" property="companyName" />
    </resultMap>

    <select id="getPage" resultMap="BaseResultMap">
        SELECT
        u.*,
        (SELECT wm_concat(r.NAME) FROM T_SYS_ROLE r, T_SYS_USER_ROLE ur WHERE r.ID = ur.ROLE_ID AND ur.USER_ID = u.ID_CARD) ROLE_NAME,
        (SELECT MANUFACTURER_NAME FROM TB_MANUFACTURERS m WHERE m.ID = u.COMPANY) COMPANY_NAME
        FROM T_USER u
        <where>
            AND u.DELETED = '0'
            <if test="param.type != null">
                AND u.TYPE = #{param.type}
            </if>
            <if test="param.name != null and param.name != ''">
                AND
                (
                u.NAME LIKE CONCAT(CONCAT('%',#{param.name}),'%')
                OR u.ID_CARD LIKE CONCAT(CONCAT('%',#{param.name}),'%')
                OR u.ORG_NAME LIKE CONCAT(CONCAT('%',#{param.name}),'%')
                OR u.COMPANY LIKE CONCAT(CONCAT('%',#{param.name}),'%')
                )
            </if>
        </where>
    </select>

</mapper>
