<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.saas.mapper.SaasApplicationExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.saas.bean.SaasApplicationExt">
        <id column="ID" property="id" />
        <result column="SERVICE_NAME" property="serviceName" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="MASTER_ID" property="masterId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="VIEW_COUNT" property="viewCount" />
        <result column="OPENING_NUMBER" property="openingNumber" />
        <result column="OPENING_TIME" property="openingTime" />
        <result column="RECYCLING_NUMBER" property="recyclingNumber" />
        <result column="RECYCLING_TIME" property="recyclingTime" />
        
    </resultMap>
    
    <select id="getAppOpeningNum" resultType="com.hirisun.cloud.model.application.AppDetailsVo">
        SELECT ROWNUM AS ID,T.* FROM (
            SELECT
                b.SERVICE_NAME serviceName,
                count(1) openingNumber,
                TO_CHAR (b.MODIFIED_TIME,'yyyy-MM-dd HH:mm:ss') openingTime
            FROM TB_SAAS_APPLICATION a
            JOIN TB_SAAS_APPLICATION_EXT b ON a.ID = b.MASTER_ID
            WHERE a.RECOVER_FLAG != '-1' and a.STATUS ='3'
            and not exists (select ra.CREATOR from TB_SAAS_RECOVER_APPLICATION ra,TB_SAAS_RECOVER_INFO ri
                            where ri.APP_INFO_ID = ra.ID and ra.STATUS != '3' and ri.RE_IDCARD = a.CREATOR)
            <if test="creator != null and creator != ''">
                and a.CREATOR like '%'||#{creator}||'%'
            </if>
            <if test="serviceName != null and serviceName != ''">
                and b.SERVICE_NAME like '%'||#{serviceName}||'%'
            </if>
            GROUP BY b.SERVICE_NAME,b.MODIFIED_TIME
        ) T
    </select>
    
    <select id="getAppRecyclingNum" resultType="com.hirisun.cloud.model.application.AppDetailsVo">
        SELECT
            b.SERVICE_NAME serviceName,
            count(1) recyclingNumber,
            TO_CHAR (b.MODIFIED_TIME,'yyyy-MM-dd HH:mm:ss') recyclingTime
        FROM TB_SAAS_APPLICATION a
        JOIN TB_SAAS_APPLICATION_EXT b ON a.ID = b.MASTER_ID
        WHERE a.RECOVER_FLAG = '-1' and a.STATUS ='3'
        and not exists (select ra.CREATOR from TB_SAAS_RECOVER_APPLICATION ra,TB_SAAS_RECOVER_INFO ri
        where ri.APP_INFO_ID = ra.ID and ra.STATUS != '3' and ri.RE_IDCARD = a.CREATOR)
        <if test="creator != null and creator != ''">
            and a.CREATOR=#{creator}
        </if>
        <if test="serviceName != null and serviceName != ''">
            and b.SERVICE_NAME=#{serviceName}
        </if>
        GROUP BY b.SERVICE_NAME,b.MODIFIED_TIME
    </select>

</mapper>
