<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.saas.mapper.SaasApplyExtResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.saas.bean.SaasApplyExtResource">
        <id column="ID" property="id" />
        <result column="MASTER_ID" property="masterId" />
        <result column="FOLDER_NAME" property="folderName" />
        <result column="RESOURCE_NAME" property="resourceName" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="RESOURCE_ID" property="resourceId" />
    </resultMap>

</mapper>
