<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.saas.mapper.SaasApplicationMergeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.saas.bean.SaasApplicationMerge">
        <id column="ID" property="id" />
        <result column="CREATOR" property="creator" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="POST_TYPE" property="postType" />
        <result column="MOBILE_WORK" property="mobileWork" />
        <result column="APPLICATION_TIME" property="applicationTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="STATUS" property="status" />
        <result column="EXPLANATION" property="explanation" />
        <result column="WORK_FLOW_ID" property="workFlowId" />
        <result column="ORDER_NUMBER" property="orderNumber" />
        <result column="NUM" property="num" />
        <result column="PROCESSING_PERSON" property="processingPerson" />
        <result column="AREAS" property="areas" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="RECHECK_TIME" property="recheckTime" />
        <result column="BIG_DATA_TIME" property="bigDataTime" />
        <result column="CARRY_TIME" property="carryTime" />
        <result column="IS_IMPORT" property="isImport" />
    </resultMap>

    <select id="getFlowPage" resultType="com.hirisun.cloud.model.saas.vo.SaasApplicationMergeVO">
      select r.*,n.NUM from (SELECT distinct ai.*,ins.ID instanceId
      from  TB_SAAS_APPLICATION_MERGE ai ,TB_WFM_ACTIVITY act,TB_WFM_INSTANCE ins,TB_WFM_WORKFLOWMODEL m
        <where>
            ai.ID=ins.BUSINESSID and act.INSTANCEID = ins.ID  and m.ID=act.MODELID
            and  ai.IS_IMPORT = 0
            <choose>
                <when test="p.status == null or p.status == ''">
                    AND ai.STATUS not in (-1,0)
                </when>
                <when test="p.status == 1">
                    AND ai.STATUS in (1,7,101,102)
                </when>
                <when test="p.status == 5">
                    AND ai.STATUS in (5,8)
                </when>
                <otherwise>
                    AND ai.STATUS = #{p.status}
                </otherwise>
            </choose>
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.startDate}
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.endDate}
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.user.type != 100">
                and (act.HANDLEPERSONIDS =  #{p.user.idcard} or m.noticeperon like concat(concat('%', #{p.user.idcard}),'%') )
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.processType == 1">
                and act.HANDLEPERSONIDS =#{p.user.idcard}
                AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <!-- 选择处理人为:其他人 -->
            <if test="p.processType == 2">
                and  act.HANDLEPERSONIDS !=#{p.user.idcard}  AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <if test="p.userName != null and p.userName != ''">
                AND ai.CREATOR_NAME = #{p.userName}
            </if>
            <if test="p.orderNumber != null and p.orderNumber!=''">
                AND ai.ORDER_NUMBER like #{p.orderNumber}
            </if>
        </where>
      ) r
      Left join (select MERGE_ID, count(*) NUM from TB_SAAS_APPLICATION where MERGE_ID is not null GROUP BY MERGE_ID )  n on n.MERGE_ID = r.ID
      ORDER BY r.MODIFIED_TIME DESC
    </select>

    <select id="getFlowPageWithServiceName" resultType="com.hirisun.cloud.model.saas.vo.SaasApplicationMergeVO">
        select r.*,n.NUM from (SELECT distinct ai.*,ins.ID instanceId
        from  TB_SAAS_APPLICATION_MERGE ai ,TB_WFM_ACTIVITY act,TB_WFM_INSTANCE ins,TB_WFM_WORKFLOWMODEL m,TB_SAAS_APPLICATION sa,TB_SAAS_APPLICATION_EXT ext
        <where>
            ai.ID=ins.BUSINESSID and act.INSTANCEID = ins.ID  and m.ID=act.MODELID
            and ai.ID = sa.MERGE_ID and sa.ID = ext.MASTER_ID
            and  ai.IS_IMPORT = 0
            <choose>
                <when test="p.status == null or p.status == ''">
                    AND ai.STATUS not in (-1,0)
                </when>
                <when test="p.status == 1">
                    AND ai.STATUS in (1,7,101,102)
                </when>
                <when test="p.status == 5">
                    AND ai.STATUS in (5,8)
                </when>
                <otherwise>
                    AND ai.STATUS = #{p.status}
                </otherwise>
            </choose>
            <!-- 可以按申请人/申请单号查询 -->
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.startDate}
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.endDate}
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.user.type != 100">
                and (act.HANDLEPERSONIDS =  #{p.user.idcard} or m.noticeperon like concat(concat('%', #{p.user.idcard}),'%') )
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.processType == 1">
                and act.HANDLEPERSONIDS =#{p.user.idcard}
                AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <!-- 选择处理人为:其他人 -->
            <if test="p.processType == 2">
                and  act.HANDLEPERSONIDS !=#{p.user.idcard}  AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <if test="p.serviceName !=null and p.serviceName !='' ">
                and ext.SERVICE_NAME like #{p.serviceName}
            </if>
            <if test="p.userName != null and p.userName != ''">
                AND ai.CREATOR_NAME = #{p.userName}
            </if>
            <if test="p.orderNumber != null and p.orderNumber!=''">
                AND ai.ORDER_NUMBER like #{p.orderNumber}
            </if>
            <if test="p.appName !=null and p.appName !=''">
                AND sa.APP_NAME  like #{p.appName}
            </if>

        </where>
        ) r
        Left join (select MERGE_ID, count(*) NUM from TB_SAAS_APPLICATION where MERGE_ID is not null GROUP BY MERGE_ID )  n on n.MERGE_ID = r.ID
        ORDER BY r.MODIFIED_TIME DESC
    </select>

    <select id="getFlowPageBank" resultMap="BaseResultMap">
        SELECT distinct ai.*,
        (SELECT to_char(wm_concat(distinct U.NAME)) FROM TB_WFM_ACTIVITY act1,TB_USER U WHERE u.IDCARD=ACT1.HANDLEPERSONIDS AND ACT1.ACTIVITYSTATUS='待办' 	AND act1.INSTANCEID = ins. ID AND ACT1.ACTIVITYTYPE is NULL) AS PROCESSING_PERSON,
        (select count(*) from TB_SAAS_APPLICATION sa where sa.MERGE_ID = ai.ID) NUM
        from  TB_SAAS_APPLICATION_MERGE ai ,TB_WFM_ACTIVITY act,TB_WFM_INSTANCE ins,TB_WFM_WORKFLOWMODEL m
        <where>
            ai.IS_IMPORT = 0
            <choose>
                <when test="p.status == null or p.status == ''">
                    AND ai.STATUS not in (-1,0)
                </when>
                <when test="p.status == 1">
                    AND ai.STATUS in (1,7,101,102)
                </when>
                <when test="p.status == 5">
                    AND ai.STATUS in (5,8)
                </when>
                <otherwise>
                    AND ai.STATUS = #{p.status}
                </otherwise>
            </choose>
            <!-- 可以按申请人/申请单号查询 -->
            <if test="p.userName != null and p.userName != ''">
                AND (
                ai.CREATOR_NAME = #{p.userName}
                OR
                ai.ORDER_NUMBER = #{p.userName}
                )
            </if>
            and ai.ID=ins.BUSINESSID and act.INSTANCEID = ins.ID  and m.ID=act.MODELID
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.startDate}
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.endDate}
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.user.type != 100">
                and (act.HANDLEPERSONIDS =  #{p.user.idcard} or m.noticeperon like concat(concat('%', #{p.user.idcard}),'%') )
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.processType == 1">
                and act.HANDLEPERSONIDS =#{p.user.idcard}
                AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <!-- 选择处理人为:其他人 -->
            <if test="p.processType == 2">
                and  act.HANDLEPERSONIDS !=#{p.user.idcard}  AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>

        </where>

        ORDER BY ai.MODIFIED_TIME DESC
    </select>

    <select id="saasTotal" resultType="com.hirisun.cloud.model.saas.dto.SaasTotalDTO">
        select a.ORDER_NUMBER,a.AREAS,a.POLICE_CATEGORY,a.RECHECK_TIME recheckTime,a.BIG_DATA_TIME bigDataTime,a.CARRY_TIME carryTime,
        (select count(1) from TB_SAAS_APPLICATION sa where sa.MERGE_ID = a.ID) applyNum,
        (select count(1) from TB_SAAS_APPLICATION sa,TB_SAAS_APPLICATION_EXT ext where sa.MERGE_ID = a.ID and ext.MASTER_ID = sa.ID) num
        from TB_SAAS_APPLICATION_MERGE a
        where a.STATUS = '3' and a.IS_IMPORT = 0
        <if test="areas != null and areas != ''">
            and a.AREAS = #{areas}
        </if>
        <if test="policeCategory != null and policeCategory != ''">
            and a.POLICE_CATEGORY = #{policeCategory}
        </if>
        <if test="(p.submitStartDate != null and p.submitStartDate != '') and (p.submitEndDate != null and p.submitEndDate != '') ">
            and TO_CHAR(a.RECHECK_TIME, 'yyyy-mm-dd') BETWEEN #{p.submitStartDate} AND #{p.submitEndDate}
        </if>
        <if test="(p.bigdataStartDate != null and p.bigdataStartDate != '') and (p.bigdataEndDate != null and p.bigdataEndDate != '') ">
            and TO_CHAR(a.BIG_DATA_TIME, 'yyyy-mm-dd') BETWEEN #{p.bigdataStartDate} AND #{p.bigdataEndDate}
        </if>
        <if test="(p.carryStartDate != null and p.carryStartDate != '') and (p.carryEndDate != null and p.carryEndDate != '') ">
            and TO_CHAR(a.CARRY_TIME, 'yyyy-mm-dd') BETWEEN #{p.carryStartDate} AND #{p.carryEndDate}
        </if>
        order by a.CREATE_TIME desc
    </select>

    <select id="saasOrderTotal" resultType="com.hirisun.cloud.model.saas.vo.SaasOrderTotalVo">
        select sa.AREAS,sa.POLICE_CATEGORY,sa.APPLY_TYPE,sa.ORDER_NUMBER,sa.CREATOR_NAME,sa.CREATOR,sa.ORG_NAME,sa.POST_TYPE,sa.MOBILE_WORK,sa.IP,sa.CREATE_TIME,ext.SERVICE_NAME,a.RECHECK_TIME recheckTime,a.BIG_DATA_TIME bigDataTime,a.CARRY_TIME carryTime
        from TB_SAAS_APPLICATION sa
        inner join TB_SAAS_APPLICATION_EXT ext on sa.ID = ext.MASTER_ID
        left join TB_SAAS_APPLICATION_MERGE a on sa.MERGE_ID = a.ID
        where sa.STATUS = '3'
        <if test="areas != null and areas != ''">
            and sa.AREAS = #{areas}
        </if>
        <if test="policeCategory != null and policeCategory != ''">
            and sa.POLICE_CATEGORY = #{policeCategory}
        </if>
        <if test="(p.submitStartDate != null and p.submitStartDate != '') and (p.submitEndDate != null and p.submitEndDate != '') ">
            and TO_CHAR(a.RECHECK_TIME, 'yyyy-mm-dd') BETWEEN #{p.submitStartDate} AND #{p.submitEndDate}
        </if>
        <if test="(p.bigdataStartDate != null and p.bigdataStartDate != '') and (p.bigdataEndDate != null and p.bigdataEndDate != '') ">
            and TO_CHAR(a.BIG_DATA_TIME, 'yyyy-mm-dd') BETWEEN #{p.bigdataStartDate} AND #{p.bigdataEndDate}
        </if>
        <if test="(p.carryStartDate != null and p.carryStartDate != '') and (p.carryEndDate != null and p.carryEndDate != '') ">
            and TO_CHAR(a.CARRY_TIME, 'yyyy-mm-dd') BETWEEN #{p.carryStartDate} AND #{p.carryEndDate}
        </if>
        order by sa.CREATE_TIME desc,sa.CREATOR
    </select>

    <select id="saasOrderQuery" resultType="com.hirisun.cloud.model.saas.vo.SaasOrderTotalVo">
        select sa.AREAS,sa.POLICE_CATEGORY,sa.APPLY_TYPE,sa.ORDER_NUMBER,sa.CREATOR_NAME,sa.CREATOR,sa.ORG_NAME,sa.POST_TYPE,sa.MOBILE_WORK,sa.IP,sa.CREATE_TIME,ext.SERVICE_NAME,a.RECHECK_TIME recheckTime,a.BIG_DATA_TIME bigDataTime,a.CARRY_TIME carryTime
        from TB_SAAS_APPLICATION sa
        left join TB_SAAS_APPLICATION_EXT ext on sa.ID = ext.MASTER_ID
        left join TB_SAAS_APPLICATION_MERGE a on sa.MERGE_ID = a.ID
        <where>
            <if test="areas != null and areas != ''">
                and sa.AREAS = #{areas}
            </if>
            <if test="policeCategory != null and policeCategory != ''">
                and sa.POLICE_CATEGORY = #{policeCategory}
            </if>
            <if test="(p.submitStartDate != null and p.submitStartDate != '') and (p.submitEndDate != null and p.submitEndDate != '') ">
                and TO_CHAR(a.RECHECK_TIME, 'yyyy-mm-dd')  &gt;= #{p.submitStartDate}
                and TO_CHAR(a.RECHECK_TIME, 'yyyy-mm-dd')  &lt;= #{p.submitEndDate}
            </if>
            <if test="(p.bigdataStartDate != null and p.bigdataStartDate != '') and (p.bigdataEndDate != null and p.bigdataEndDate != '') ">
                and TO_CHAR(a.BIG_DATA_TIME, 'yyyy-mm-dd') &gt;=  #{p.bigdataStartDate}
                and TO_CHAR(a.BIG_DATA_TIME, 'yyyy-mm-dd') &lt;=  #{p.bigdataEndDate}
            </if>
            <if test="(p.carryStartDate != null and p.carryStartDate != '') and (p.carryEndDate != null and p.carryEndDate != '') ">
                and TO_CHAR(a.CARRY_TIME, 'yyyy-mm-dd') &gt;=  #{p.carryStartDate}
                and TO_CHAR(a.CARRY_TIME, 'yyyy-mm-dd') &lt;=  #{p.carryEndDate}
            </if>
        </where>
        order by sa.CREATE_TIME desc,sa.CREATOR
    </select>

    <select id="saasUseTotal" resultType="com.hirisun.cloud.model.saas.vo.SaasUseTotalVo">
        SELECT r.*,f.CREATOR_NAME,f.ORG_NAME,f.POST_TYPE,f.MOBILE_WORK,f.IP,f.AREAS,f.POLICE_CATEGORY,f.APPLY_TYPE,f.RECOVER_FLAG from (select sa.CREATOR,ext.SERVICE_NAME,count(1) applyServiceCount
        from TB_SAAS_APPLICATION sa
        join TB_SAAS_APPLICATION_EXT ext on sa.ID = ext.MASTER_ID
        join TB_SAAS_APPLICATION_MERGE a on sa.MERGE_ID = a.ID
        where sa.STATUS = '3'
        <if test="areas != null and areas != ''">
            and sa.AREAS = #{areas}
        </if>
        <if test="policeCategory != null and policeCategory != ''">
            and sa.POLICE_CATEGORY = #{policeCategory}
        </if>
        <if test="(p.submitStartDate != null and p.submitStartDate != '') and (p.submitEndDate != null and p.submitEndDate != '') ">
            and TO_CHAR(a.RECHECK_TIME, 'yyyy-mm-dd') BETWEEN #{p.submitStartDate} AND #{p.submitEndDate}
        </if>
        <if test="(p.bigdataStartDate != null and p.bigdataStartDate != '') and (p.bigdataEndDate != null and p.bigdataEndDate != '') ">
            and TO_CHAR(a.BIG_DATA_TIME, 'yyyy-mm-dd') BETWEEN #{p.bigdataStartDate} AND #{p.bigdataEndDate}
        </if>
        <if test="(p.carryStartDate != null and p.carryStartDate != '') and (p.carryEndDate != null and p.carryEndDate != '') ">
            and TO_CHAR(a.CARRY_TIME, 'yyyy-mm-dd') BETWEEN #{p.carryStartDate} AND #{p.carryEndDate}
        </if>
        GROUP BY sa.CREATOR,ext.SERVICE_NAME
        order by sa.CREATOR) r
        LEFT JOIN (SELECT a.* from (SELECT ROW_NUMBER() OVER(PARTITION BY CREATOR ORDER BY MODIFIED_TIME desc)rn,TB_SAAS_APPLICATION.* FROM TB_SAAS_APPLICATION where STATUS = 3) a
        where a.rn = 1) f ON  f.CREATOR = r.CREATOR
    </select>





    <!--通过服务名找服务描述，导入的数据没有服务ID-->
    <select id="tenantUseResource" resultType="com.hirisun.cloud.model.daas.dto.GeneralDTO">

        select DISTINCT ext.SERVICE_NAME name,s.DESCRIPTION description,S.ID,S.URL general,s.SHORT_NAME shortName from TB_SAAS_APPLICATION sa
        Left join TB_SAAS_APPLICATION_EXT ext on sa.ID = ext.MASTER_ID
        LEFT JOIN TB_SAAS s ON ext.SERVICE_NAME = s.NAME
        where  sa.STATUS = 3 and s.STATUS = 2 and s.SERVICE_FLAG = #{type}
        <if test="p.queryVO.area != null and p.queryVO.area != ''">
            and  sa.AREAS = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.policeCategory!=null and p.queryVO.policeCategory != ''">
            and  sa.POLICE_CATEGORY = #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.serviceName != null and p.queryVO.serviceName != ''">
            and   ext.SERVICE_NAME  like #{p.queryVO.serviceName}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and  sa.CREATOR = #{p.queryVO.creator}
        </if>
        <if test="p.queryVO.category!=null and p.queryVO.category !=''">
            and  s.SUB_TYPE = #{p.queryVO.category}
        </if>
    </select>


    <!--导入的数据没有服务ID，通过ID关联查不到-->
    <select id="tenantUseResourceBank" resultType="com.hirisun.cloud.model.daas.dto.GeneralDTO">
        SELECT DISTINCT  s.NAME name,s.SHORT_NAME shortName,s.id, s.DESCRIPTION description,s.URL general from TB_SAAS_APPLICATION_MERGE me,
        TB_SAAS_APPLICATION saas,TB_SAAS_APPLICATION_EXT ext,TB_SAAS s
        where
        me.ID = saas.MERGE_ID and saas.ID = ext.MASTER_ID and me.STATUS = 3 and s.ID = ext.SERVICE_ID
        <if test="p.queryVO.area != null and p.queryVO.area != ''">
          and  me.AREAS = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.policeCategory!=null and p.queryVO.policeCategory != ''">
          and  me.POLICE_CATEGORY = #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.serviceName != null and p.queryVO.serviceName != ''">
          and   s.NAME  like #{p.queryVO.serviceName}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and saas.CREATOR = #{p.queryVO.creator}
        </if>
        <if test="p.queryVO.category!=null and p.queryVO.category !=''">
            and  s.SUB_TYPE = #{p.queryVO.category}
        </if>
    </select>
    <select id="personalUseResource" resultType="com.hirisun.cloud.model.daas.dto.GeneralDTO">
        select DISTINCT s.name ,s.SHORT_NAME shortName,s.id, s.DESCRIPTION description,s.URL general from TB_SAAS_APPLICATION sa,TB_SAAS_APPLICATION_EXT ext,TB_SAAS s
        where sa.ID = ext.MASTER_ID and  ext.SERVICE_NAME = s.NAME and sa.STATUS = 3 and sa.CREATOR = #{p.queryVO.creator} and s.STATUS = 2
        <if test="p.queryVO.serviceName !=null and p.queryVO.serviceName !=null">
            and s.NAME  like #{p.queryVO.serviceName}
        </if>
        <if test="p.queryVO.category!=null and p.queryVO.category!=''">
            and  s.SUB_TYPE = #{p.queryVO.category}
        </if>
    </select>

</mapper>
