<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.saas.mapper.SaasApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.saas.bean.SaasApply">
        <result column="ID" property="id" />
        <result column="CREATOR" property="creator" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="POST_TYPE" property="postType" />
        <result column="MOBILE_WORK" property="mobileWork" />
        <result column="APPLICATION_TIME" property="applicationTime" />
        <result column="APPLY_TYPE" property="applyType" />
        <result column="AREAS" property="areas" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="EXPLANATION" property="explanation" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="ORDER_NUMBER" property="orderNumber" />
        <result column="STATUS" property="status" />
        <result column="MERGE_ID" property="mergeId" />
        <result column="IP" property="ip" />
        <result column="RECOVER_FLAG" property="recoverFlag" />
        <result column="IS_IMPORT" property="isImport" />
        <result column="RECOVER_ID" property="recoverId" />
        <result column="VISIBLE" property="visible" />
        <result column="USERID" property="userid" />
    </resultMap>

</mapper>
