<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.saas.mapper.SaasSubpageConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.saas.bean.SaasSubpageConfig">
        <id column="ID" property="id" />
        <result column="MASTER_ID" property="masterId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="JS_UNIT" property="jsUnit" />
        <result column="JS_PRINCIPAL" property="jsPrincipal" />
        <result column="JS_PRINCIPAL_PHONE" property="jsPrincipalPhone" />
        <result column="CJ_UNIT" property="cjUnit" />
        <result column="CJ_PRINCIPAL" property="cjPrincipal" />
        <result column="CJ_PRINCIPAL_PHONE" property="cjPrincipalPhone" />
        <result column="BUILD_DESC" property="buildDesc"/>
        <result column="ARCH_IMAGE" property="archImage"/>
        <result column="GOV_UNIT" property="govUnit" />
        <result column="GOV_PRINCIPAL" property="govPrincipal" />
        <result column="GOV_PRINCIPAL_PHONE" property="govPrincipalPhone" />
    </resultMap>

    <select id="daas" resultType="com.hirisun.cloud.model.daas.vo.DaasServiceOverview">
        select b.NAME,b.PROVIDER,b.LABEL,sum(s.REQ_COUNT) REQ_COUNT,sum(s.REQ_COUNT_4XX + s.REQ_COUNT_5XX) ABNORMAL_REQ_COUNT,avg(s.AVG_LATENCY) AVG_LATENCY
        from TB_APP_STATISTICS s left join TB_BIGDATA b on b.APIPRODUCT_ID = s.PRODUCT_FAMILY_ID
        where s.CATA_LOG = 7 and b.CATA_LOG = 7 and s.APP_NAME = #{name}
        group by b.NAME,b.PROVIDER,b.LABEL
        order by REQ_COUNT desc
    </select>

    <select id="paas" resultType="com.hirisun.cloud.model.daas.vo.ServiceOverview">
        select b.NAME,b.PROVIDER,b.LABEL,sum(s.REQ_COUNT) REQ_COUNT,sum(s.REQ_COUNT_4XX + s.REQ_COUNT_5XX) ABNORMAL_REQ_COUNT,avg(s.AVG_LATENCY) AVG_LATENCY
        from TB_APP_STATISTICS s left join TB_BIGDATA b on b.APIPRODUCT_ID = s.PRODUCT_FAMILY_ID
        where s.CATA_LOG in (8,9,10) and b.CATA_LOG in (8,9,10) and s.APP_NAME = #{name}
        group by b.NAME,b.PROVIDER,b.LABEL
        order by REQ_COUNT desc
    </select>

    <select id="paasOther" resultType="com.hirisun.cloud.model.daas.vo.InnerServiceOverview">
        select a.SERVICE_TYPE_NAME NAME,p.SUB_TYPE from TB_APPLICATION_INFO a left join TB_PAAS p on p.id = a.SERVICE_TYPE_ID
        where a.STATUS = 3 and a.RESOURCE_TYPE = 3 and a.APP_NAME = #{name}
    </select>

</mapper>
