<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.dm.CloudVmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.dm.CloudVm">
        <result column="NAME" property="name" />
        <result column="NAME_CN" property="nameCn" />
        <result column="VID" property="vid" />
        <result column="TYPE" property="type" />
        <result column="VCPU_SIZE" property="vcpuSize" />
        <result column="CPU_USAGE" property="cpuUsage" />
        <result column="RAM_SIZE" property="ramSize" />
        <result column="EVS_DISK_USAGE" property="evsDiskUsage" />
        <result column="MEMORY_USAGE" property="memoryUsage" />
        <result column="DISK_SIZE" property="diskSize" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="TIME_STAMP" property="timeStamp" />
        <result column="TENANT" property="tenant" />
        <result column="SITE_NAME" property="siteName" />
        <result column="SITE_TYPE" property="siteType" />
        <result column="CI_STATUS" property="ciStatus" />
        <result column="COMMENTS" property="comments" />
        <result column="IP_ADDRESS" property="ipAddress" />
        <result column="OS_VERSION" property="osVersion" />
        <result column="CLOUD1" property="cloud1" />
        <result column="CLOUD2" property="cloud2" />
        <result column="BUSINESS_UNIT1" property="businessUnit1" />
        <result column="BUSINESS_UNIT2" property="businessUnit2" />
        <result column="ODS_IP" property="odsIp" />
    </resultMap>



    <select id="page" resultMap="BaseResultMap">
        SELECT * FROM TB_DM_CLOUD_VM
        <where>
            <if test="name !=null">
                and  business_unit1 = #{name}
            </if>
            <if test="cloud !=null">
                and  cloud2 = #{cloud}
            </if>
        </where>

        <if test="order != null and orderType != null">
            ORDER BY ${order} ${orderType} nulls last
        </if>
    </select>


    <select id="areaAppCount" resultType="com.upd.hwcloud.bean.dto.GeneralDTO">
        SELECT business_unit1 name,COUNT(DISTINCT(SUBSTR(name,1,INSTR(name,'-',1,1)-1))) value from TB_DM_CLOUD_VM
        WHERE name_cn NOT LIKE '广东%' GROUP BY business_unit1
    </select>


    <select id="poorAreaAppListByName" resultType="java.lang.String">
    SELECT DISTINCT SUBSTR(name,1,INSTR(name,'-',1,1)-1) appName from TB_DM_CLOUD_VM
    WHERE business_unit1 = #{name}
    </select>

    <select id="vmListOrder" resultType="com.upd.hwcloud.bean.entity.dm.CloudVm">
        SELECT * FROM (SELECT * FROM TB_DM_CLOUD_VM WHERE business_unit1 = #{name} and ${order} is not null
        <if test="order != null and orderType != null">ORDER BY ${order} ${orderType} </if>
        ) WHERE ROWNUM  &lt;=5
    </select>


    <select id="getList" resultType="com.upd.hwcloud.bean.entity.dm.CloudVm" fetchSize="600">
        select * from TB_DM_CLOUD_VM  where business_unit1 = #{name} and EVS_DISK_USAGE is not NULL
    </select>


    <select id="businessUnit1" resultType="string">
        SELECT DISTINCT business_unit1 from TB_DM_CLOUD_VM
    </select>

    <select id="exportVmByAppName" resultType="com.upd.hwcloud.bean.dto.VmGeneralExport">
        SELECT NAME_CN,TYPE,VCPU_SIZE,RAM_SIZE,DISK_SIZE,CPU_USAGE,MEMORY_USAGE,EVS_DISK_USAGE FROM TB_DM_CLOUD_VM WHERE BUSINESS_UNIT2=#{appName}
    </select>

</mapper>
