<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.dm.CloudResourceLevel1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.dm.CloudResourceLevel1">
        <result column="NAME" property="name" />
        <result column="NAME_CN" property="nameCn" />
        <result column="LV" property="lv" />
        <result column="TYPE" property="type" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CLOUD" property="cloud" />
        <result column="CLOUD_NUMBER" property="cloudNumber" />
        <result column="BUSINESSREGION_NUMBER" property="businessregionNumber" />
        <result column="PHYSICALHOST_NUMBER" property="physicalhostNumber" />
        <result column="STORAGEPOOL_NUMBER" property="storagepoolNumber" />
        <result column="VM_NUMBER" property="vmNumber" />
        <result column="VCPU_TOTAL" property="vcpuTotal" />
        <result column="VCPU_RATIO" property="vcpuRatio" />
        <result column="VCPU_USAGE" property="vcpuUsage" />
        <result column="MEMORY_TOTAL" property="memoryTotal" />
        <result column="MEMORY_RATIO" property="memoryRatio" />
        <result column="MEMORY_USAGE" property="memoryUsage" />
        <result column="STORAGE_TOTAL" property="storageTotal" />
        <result column="STORAGE_RATIO" property="storageRatio" />
        <result column="STORAGE_USAGE" property="storageUsage" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME_STR" property="createTimeStr" />
        <result column="TIME_STAMP" property="timeStamp" />
        <result column="SITE_NAME" property="siteName" />
        <result column="SITE_TYPE" property="siteType" />
    </resultMap>

</mapper>
