<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.system.mapper.FunChaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.system.bean.FunCha">
        <id column="ID" property="id" />
        <result column="IAAS_ID" property="iaasId" />
        <result column="IMAGE" property="image" />
        <result column="TITLE" property="title" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="REMARK" property="remark" />
    </resultMap>

</mapper>
