<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.system.mapper.FunDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.system.bean.FunDetail">
        <id column="ID" property="id" />
        <result column="MASTER_ID" property="masterId" />
        <result column="IMAGE" property="image" />
        <result column="TITLE" property="title" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="REMARK" property="remark" />
        <collection property="detailExps" select="getExps" column="ID"></collection>
    </resultMap>


	<select id="getByMasterId" resultMap="BaseResultMap">
		select * from T_FUN_DETAIL WHERE MASTER_ID = #{masterId}  order by REMARK
	</select>
	
	<select id="getExps" resultType="com.hirisun.cloud.system.bean.FunDetailExp">
		select * from T_FUN_DETAIL_EXP WHERE APP_ID = #{id}  order by REMARK
	</select>
</mapper>
