<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.system.mapper.MonitorLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.system.bean.MonitorLog">
        <result column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="URL" property="url" />
        <result column="STATUS" property="status" />
        <result column="PRODUCER" property="producer" />
        <result column="LAST_REQ_TIME" property="lastReqTime" />
        <result column="LAST_RESPONSE" property="lastResponse" />
        <result column="MODULE" property="module" />
    </resultMap>

</mapper>
