<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.system.mapper.ResourceRecoverImplMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.system.bean.ResourceRecoverImpl">
        <id column="ID" property="id" />
        <result column="SHRINK_TYPE" property="shrinkType" />
        <result column="APPLICATION_NAME" property="applicationName" />
        <result column="INSTANCE_NAME" property="instanceName" />
        <result column="PRIVATE_IP_ADDRESS" property="privateIpAddress" />
        <result column="BEFORE_SHRINK_CPU" property="beforeShrinkCpu" />
        <result column="BEFORE_SHRINK_MEMORY" property="beforeShrinkMemory" />
        <result column="BEFORE_SHRINK_DISK" property="beforeShrinkDisk" />
        <result column="ACTUAL_SHRINK_CPU" property="actualShrinkCpu" />
        <result column="ACTUAL_SHRINK_MEMORY" property="actualShrinkMemory" />
        <result column="ACTUAL_SHRINK_DISK" property="actualShrinkDisk" />
        <result column="PROCESS_RESULT" property="processResult" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
    </resultMap>

</mapper>
