<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.system.mapper.SysDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.system.bean.SysDict">
        <result column="ID" property="id" />
        <result column="SORT" property="sort" />
        <result column="PID" property="pid" />
        <result column="NAME" property="name" />
        <result column="LEVEL" property="level" />
        <result column="REMARK" property="remark" />
        <result column="P_VALUE" property="pValue" />
    </resultMap>

</mapper>
