<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.system.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.system.bean.SysLog">
        <result column="ID" property="id" />
        <result column="CREATOR_ID" property="creatorId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="REMARK" property="remark" />
        <result column="PATH" property="path" />
        <result column="IP" property="ip" />
    </resultMap>
    <select id="getPage" resultType="com.hirisun.cloud.system.bean.SysLog">
        SELECT
        l.id,l.IP,l.REMARK,l.CREATE_TIME,l.path,
        u.name
        FROM T_SYS_LOG l left join tb_user u on l.CREATOR_ID=u.IDCARD
        <where>
            <if test="(param.startDate != null and param.startDate != '') and (param.endDate != null and param.endDate != '')">
                AND TO_CHAR(l.CREATE_TIME,'YYYY-MM-DD') &gt;= #{param.startDate}
                AND TO_CHAR(l.CREATE_TIME,'YYYY-MM-DD') &lt;= #{param.endDate}
            </if>
            <if test="param.userId !=null and param.userId !=''">
                and l.CREATOR_ID = #{param.userId}
            </if>
        </where>
        ORDER BY l.CREATE_TIME DESC
    </select>
</mapper>
