<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.EpidemicApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.EpidemicApplication">
        <id column="ID" property="id" />
        <result column="CREATOR" property="creator" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="POST_TYPE" property="postType" />
        <result column="MOBILE_WORK" property="mobileWork" />
        <result column="APPLICATION_TIME" property="applicationTime" />
        <result column="APPLY_TYPE" property="applyType" />
        <result column="AREAS" property="areas" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="EXPLANATION" property="explanation" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="ORDER_NUMBER" property="orderNumber" />
        <result column="STATUS" property="status" />
        <result column="IP" property="ip" />
        <result column="RECOVER_FLAG" property="recoverFlag" />
        <result column="RECOVER_ID" property="recoverId" />
        <result column="WORK_FLOW_ID" property="workFlowId" />
        <result column="PROCESSING_PERSON" property="processingPerson" />
    </resultMap>

    <select id="getByActId" resultType="com.upd.hwcloud.bean.entity.EpidemicApplication">
        select ai.ORDER_NUMBER from TB_EPIDEMIC_APPLICATION ai left join TB_WFM_INSTANCE ins on ai.ID=ins.BUSINESSID
        left join TB_WFM_ACTIVITY act on act.INSTANCEID=ins.ID
        where act.ID = #{activityId}
    </select>

    <select id="getFlowPage" resultMap="BaseResultMap">
      SELECT distinct ai.*,ins.ID instanceId
        from  TB_EPIDEMIC_APPLICATION ai ,TB_WFM_ACTIVITY act,TB_WFM_INSTANCE ins,TB_WFM_WORKFLOWMODEL m
        <where>
            ai.ID=ins.BUSINESSID and act.INSTANCEID = ins.ID  and m.ID=act.MODELID
            <choose>
                <when test="p.status == null or p.status == ''">
                    AND ai.STATUS not in (-1,0)
                </when>
                <when test="p.status == 1">
                    AND ai.STATUS in (1,7,101,102)
                </when>
                <when test="p.status == 5">
                    AND ai.STATUS in (5,8)
                </when>
                <otherwise>
                    AND ai.STATUS = #{p.status}
                </otherwise>
            </choose>
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.startDate}
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.endDate}
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.user.type != 100">
                and (act.HANDLEPERSONIDS =  #{p.user.idcard} or m.noticeperon like concat(concat('%', #{p.user.idcard}),'%') )
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.processType == 1">
                and act.HANDLEPERSONIDS =#{p.user.idcard}
                AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <!-- 选择处理人为:其他人 -->
            <if test="p.processType == 2">
                and  act.HANDLEPERSONIDS !=#{p.user.idcard}  AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <if test="p.userName != null and p.userName != ''">
                AND ai.CREATOR_NAME = #{p.userName}
            </if>
            <if test="p.orderNumber != null and p.orderNumber!=''">
                AND ai.ORDER_NUMBER like #{p.orderNumber}
            </if>
            ORDER BY ai.MODIFIED_TIME DESC
        </where>
    </select>

    <select id="getFlowPageWithServiceName" resultMap="BaseResultMap">
        SELECT distinct ai.*,ins.ID instanceId
        from  TB_EPIDEMIC_APPLICATION ai ,TB_WFM_ACTIVITY act,TB_WFM_INSTANCE ins,TB_WFM_WORKFLOWMODEL m,TB_EPIDEMIC_APPLICATION_EXT ext
        <where>
            ai.ID=ins.BUSINESSID and act.INSTANCEID = ins.ID  and m.ID=act.MODELID
            and ai.ID = ext.MASTER_ID
            <choose>
                <when test="p.status == null or p.status == ''">
                    AND ai.STATUS not in (-1,0)
                </when>
                <when test="p.status == 1">
                    AND ai.STATUS in (1,7,101,102)
                </when>
                <when test="p.status == 5">
                    AND ai.STATUS in (5,8)
                </when>
                <otherwise>
                    AND ai.STATUS = #{p.status}
                </otherwise>
            </choose>
            <!-- 可以按申请人/申请单号查询 -->
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.startDate}
                AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.endDate}
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.user.type != 100">
                and (act.HANDLEPERSONIDS =  #{p.user.idcard} or m.noticeperon like concat(concat('%', #{p.user.idcard}),'%') )
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.processType == 1">
                and act.HANDLEPERSONIDS =#{p.user.idcard}
                AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <!-- 选择处理人为:其他人 -->
            <if test="p.processType == 2">
                and  act.HANDLEPERSONIDS !=#{p.user.idcard}  AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <if test="p.serviceName !=null and p.serviceName !='' ">
                and ext.SERVICE_NAME like #{p.serviceName}
            </if>
            <if test="p.userName != null and p.userName != ''">
                AND ai.CREATOR_NAME = #{p.userName}
            </if>
            <if test="p.orderNumber != null and p.orderNumber!=''">
                AND ai.ORDER_NUMBER like #{p.orderNumber}
            </if>
            <if test="p.appName !=null and p.appName !=''">
                AND ai.APP_NAME  like #{p.appName}
            </if>
        </where>
        ORDER BY ai.MODIFIED_TIME DESC
    </select>

</mapper>
