<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.FilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.Files">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="ORIGINA_NAME" property="originaName" />
        <result column="PATH" property="path" />
        <result column="SUFFIX" property="suffix" />
        <result column="URL" property="url" />
        <result column="REF_ID" property="refId" />
    </resultMap>

    <select id="getFileById" resultType="com.upd.hwcloud.bean.entity.Files">
        SELECT * FROM TB_FILES WHERE ID = #{id}
    </select>

</mapper>
