<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.FlowStepMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.FlowStep">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="SORT" property="sort" />
        <result column="TYPE" property="type" />
        <result column="REMARK" property="remark" />
        <result column="CREATOR" property="creator" />
        <result column="FLOW_ID" property="flowId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
    </resultMap>

    <select id="getUserFlowStepListByResourceType" resultMap="BaseResultMap">
        select
          fs.*
        from TB_FLOW_STEP fs
        <choose>
            <when test="resourceType == 2">
                right join TB_APPLY_FLOW af on af.ID = fs.FLOW_ID
                left join TB_FLOW_STEP_USER fsu on fs.ID = fsu.STEP_ID
                where
                fsu.USER_ID = #{user.idcard}
                and af.TARGET_RESOURCE = #{resourceType}
            </when>
            <otherwise>
                left join TB_FLOW_STEP_USER fsu on fs.ID = fsu.STEP_ID
                left join TB_APPLICATION_INFO ai on fs.FLOW_ID = ai.SERVICE_TYPE_ID
                where
                fsu.USER_ID = #{user.idcard}
                and ai.RESOURCE_TYPE = #{resourceType}
            </otherwise>
        </choose>
        <if test="stepType != null and stepType != ''">
            and fs.TYPE = #{stepType}
        </if>
    </select>

    <select id="getUserFlowStepListByServiceId" resultMap="BaseResultMap">
        select
          fs.*
        from TB_FLOW_STEP fs
        left join TB_FLOW_STEP_USER fsu on fs.ID = fsu.STEP_ID
        where
          fsu.USER_ID = #{user.idcard}
          and fs.FLOW_ID = #{serviceId}
          <if test="stepType != null and stepType != ''">
            and fs.TYPE = #{stepType}
          </if>
    </select>

</mapper>
