<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.IaasMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.Iaas">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="SHORT_NAME" property="shortName" />
        <result column="SUB_TYPE" property="subType" />
        <result column="SORT" property="sort" />
        <result column="VERSION_CODE" property="versionCode" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="URL" property="url" />
        <result column="SUB_PAGE_URL" property="subPageUrl" />
        <result column="IMAGE" property="image" />
        <result column="DESCRIPTION" property="description" />
        <result column="PRO_APPLICATION" property="proApplication" />
        <result column="PRO_USE" property="proUse" />
        <result column="TEST_FORM" property="testForm" />
        <result column="TEST_APPLICATION" property="testApplication" />
        <result column="TEST_USE" property="testUse" />
        <result column="GUIDE" property="guide" />
        <result column="GUIDE_INTRANET" property="guideIntranet" />
        <result column="FIRST_INTERFACE_PERSON" property="firstInterfacePerson" />
        <result column="UP_INTERFACE_PERSON" property="upInterfacePerson" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="STATUS" property="status" />
        <result column="CREATOR" property="creator" />
        <result column="TOP" property="top" />
        <result column="SUB_TYPE_NAME" property="subTypeName" />
        <result column="BUILD_STATUS" property="buildStatus" />
        <result column="SUB_PAGE_PERMISSION" property="subPagePermission" />
        <result column="HOME" property="home" />
        <result column="CAN_APPLICATION" property="canApplication" />
        <result column="HAS_DOC" property="hasDoc" />
        <result column="WORK_FLOW_ID" property="workFlowId"/>
        <result column="FORM_NUM" property="formNum" />
        <result column="FORM_NUM_MODIFY" property="formNumModify" />
        <association property="user" column="CREATOR" select="com.upd.hwcloud.dao.UserMapper.findUserByIdcard" />
    </resultMap>

    <select id="getPage" resultMap="BaseResultMap">
        SELECT S.*,(SELECT NAME FROM SYS_DICT D WHERE D.ID = S.SUB_TYPE) SUB_TYPE_NAME
        FROM TB_IAAS S
        WHERE
        <choose>
            <when test="status != null and status == 0">
                STATUS IN (0, 3)
            </when>
            <otherwise>
                STATUS = #{status}
            </otherwise>
        </choose>
        <if test="name != null and name != ''">
                AND NAME LIKE CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="subType != null and subType != ''">
            AND SUB_TYPE = #{subType}
        </if>
        <if test="user.type != 100">
            AND CREATOR = #{user.idcard}
        </if>
        ORDER BY SORT ASC, MODIFIED_TIME DESC
    </select>

    <select id="getLabel" resultMap="com.upd.hwcloud.dao.SubpageMapper.BaseResultMap">
        select ss.SERVICE_ID,ss.USE
        from TB_SUBPAGE ss
        left join TB_IAAS s on ss.SERVICE_ID = s.ID
        where s.STATUS = 2 and ss.USE is not null
        <if test="home != null">
            and s.HOME = #{home}
        </if>
        <if test="canApplication != null">
            and s.CAN_APPLICATION = #{canApplication}
        </if>
    </select>

    <select id="getPageByCondition" resultType="com.upd.hwcloud.bean.entity.Iaas">
        select DISTINCT s.*
        from TB_IAAS s
        left join TB_SUBPAGE ss on ss.SERVICE_ID = s.ID
        where s.STATUS = 2
        <if test="home != null">
            and s.HOME = #{home}
        </if>
        <if test="canApplication != null">
            and s.CAN_APPLICATION = #{canApplication}
        </if>
        <if test="keyword != null and keyword != ''">
            and s.NAME like CONCAT(CONCAT('%',#{keyword}),'%')
        </if>
        <if test="label != null and label != ''">
            and ss.USE like CONCAT(CONCAT('%',#{label}),'%')
        </if>
        order by s.SORT asc,s.MODIFIED_TIME desc,s.BUILD_STATUS asc
    </select>

</mapper>
