<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.IaasZysbFbssjkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.IaasZysbFbssjk">
        <id column="ID" property="id" />
        <result column="REMARK" property="remark" />
        <result column="MASTER_ID" property="masterId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="CPU" property="cpu" />
        <result column="MEMORYS" property="memorys" />
        <result column="STORAGES" property="storages" />
    </resultMap>

</mapper>
