<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.IaasZysbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.IaasZysb">
        <id column="ID" property="id" />
        <result column="CREATOR" property="creator" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="WORK_FLOW_ID" property="workFlowId" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="ORDER_NUMBER" property="orderNumber" />
        <result column="EXPLANATION" property="explanation" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="APPLICATION_TIME" property="applicationTime" />
        <result column="CREATOR_UNIT" property="creatorUnit" />
        <result column="CREATOR_PHONE" property="creatorPhone" />
        <result column="AREAS" property="areas" />
        <result column="START_DATE" property="startDate" />
        <result column="APPLY_TYPE" property="applyType" />
        <result column="PROCESSING_PERSON" property="processingPerson" />
        <association property="user" column="CREATOR" select="com.upd.hwcloud.dao.UserMapper.findUserByIdcard" />
    </resultMap>

    <select id="getDetails" resultMap="BaseResultMap">
      select z.*,'' as PROCESSING_PERSON from TB_IAAS_ZYSB z where ID=#{id}
    </select>

    <select id="getTodoCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT ai.ID)
        FROM TB_IAAS_ZYSB ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID
        join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE ai.STATUS in (1,2,7,101,102)
        <if test="user.idcard !=null and user.idcard !=''">
            and act.HANDLEPERSONIDS = #{user.idcard}
        </if>
        and act.ACTIVITYTYPE is null
        and act.ACTIVITYSTATUS = '待办'
    </select>

    <select id="getResourceReportTodo" resultType="java.lang.Integer">
        SELECT count(DISTINCT ai.ID)
        FROM TB_IAAS_ZYSB ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID
        join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE ai.STATUS in (1,2,7,101,102)
        <if test="idCard !=null and idCard !=''">
            and act.HANDLEPERSONIDS = #{idCard}
        </if>
        and act.ACTIVITYTYPE is null
        and act.ACTIVITYSTATUS = '待办'
    </select>
    
    <select id="getPage" resultMap="BaseResultMap">
        SELECT distinct ai.*,(SELECT to_char(wm_concat(distinct U . NAME)) FROM TB_WFM_ACTIVITY act1,TB_USER U WHERE u.IDCARD=ACT1.HANDLEPERSONIDS AND ACT1.ACTIVITYSTATUS='待办' 	AND act1.INSTANCEID = ins. ID AND ACT1.ACTIVITYTYPE is NULL)  AS PROCESSING_PERSON
        from  TB_IAAS_ZYSB ai ,TB_WFM_ACTIVITY act,TB_WFM_INSTANCE ins
        ,TB_WFM_WORKFLOWMODEL m
        <where>
            <choose>
                <when test="p.status == null or p.status == ''">
                    AND ai.STATUS not in (-1,0)
                </when>
                <when test="p.status == 1">
                    AND ai.STATUS in (1,7,101,102)
                </when>
                <when test="p.status == 5">
                    AND ai.STATUS in (5,8)
                </when>
                <otherwise>
                    AND ai.STATUS = #{p.status}
                </otherwise>
            </choose>

            <if test="p.appName != null and p.appName != ''">
                <!-- 可以按申请人/申请单号查询 -->

                    AND (
                    ai.CREATOR_NAME = #{p.appName}
                    OR
                    ai.ORDER_NUMBER = #{p.appName}
                    )

            </if>
          and
            ai.ID=ins.BUSINESSID and act.INSTANCEID = ins.ID  and m.ID=act.MODELID

            <!-- 选择处理人为:我 -->

            <if test="p.user.type != 100 ">
                and (act.HANDLEPERSONIDS =  #{p.user.idcard} or m.noticeperon like concat(concat('%', #{p.user.idcard}),'%') )
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.processType == 1">
                and act.HANDLEPERSONIDS =#{p.user.idcard}
                AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <!-- 选择处理人为:其他人 -->
            <if test="p.processType == 2">
                and  act.HANDLEPERSONIDS !=#{p.user.idcard}  AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
        </where>

        ORDER BY ai.MODIFIED_TIME DESC
    </select>

    <select id="getListByCondition" resultType="com.upd.hwcloud.bean.dto.IaasZysbExport">
        select z.ID,z.ORDER_NUMBER,z.CREATOR_NAME,z.CREATOR_UNIT,z.APPLICATION_TIME,z.START_DATE,
        nvl(sum(xnj.CPU), 0) CPU,nvl(sum(xnj.MEMORYS), 0) MEMORYS,nvl(sum(xnj.STORAGES), 0) STORAGES
        from TB_IAAS_ZYSB z left join TB_IAAS_ZYSB_XNJ xnj on z.ID = xnj.MASTER_ID
        where z.STATUS = 3
        <if test="p.areas != null and p.areas != ''">
            and z.AREAS = #{p.areas}
        </if>
        <if test="p.policeCategory != null and p.policeCategory != ''">
            and z.POLICE_CATEGORY = #{p.policeCategory}
        </if>
        <if test="(p.startDate !=null and p.startDate !='') and (p.endDate != null and p.endDate !='')">
            and TO_CHAR(z.CREATE_TIME, 'yyyy-mm-dd') BETWEEN #{p.startDate} AND #{p.endDate}
        </if>
        group by z.ID,z.ORDER_NUMBER,z.CREATOR_NAME,z.CREATOR_UNIT,z.APPLICATION_TIME,z.START_DATE
        order by z.APPLICATION_TIME desc
    </select>

    <select id="getBaseExportInfo" resultType="com.upd.hwcloud.bean.vo.resourceReport.export.ReportExport">
        select z.ID,z.ORDER_NUMBER,z.CREATOR_NAME,z.CREATOR_UNIT,z.APPLICATION_TIME,z.START_DATE
        from TB_IAAS_ZYSB z
        where z.STATUS = 3
        <if test="p.areas != null and p.areas != ''">
            and z.AREAS = #{p.areas}
        </if>
        <if test="p.policeCategory != null and p.policeCategory != ''">
            and z.POLICE_CATEGORY = #{p.policeCategory}
        </if>
        <if test="(p.startDate !=null and p.startDate !='') and (p.endDate != null and p.endDate !='')">
            and TO_CHAR(z.CREATE_TIME, 'yyyy-mm-dd') BETWEEN #{p.startDate} AND #{p.endDate}
        </if>
        group by z.ID,z.ORDER_NUMBER,z.CREATOR_NAME,z.CREATOR_UNIT,z.APPLICATION_TIME,z.START_DATE
        order by z.APPLICATION_TIME desc
    </select>


    <select id="getListExport" resultType="com.upd.hwcloud.bean.entity.IaasZysb">
        SELECT distinct ai.*,(SELECT to_char(wm_concat(distinct U . NAME)) FROM TB_WFM_ACTIVITY act1,TB_USER U WHERE u.IDCARD=ACT1.HANDLEPERSONIDS AND ACT1.ACTIVITYSTATUS='待办' 	AND act1.INSTANCEID = ins. ID AND ACT1.ACTIVITYTYPE is NULL)  AS PROCESSING_PERSON
        from  TB_IAAS_ZYSB ai ,TB_WFM_ACTIVITY act,TB_WFM_INSTANCE ins
        ,TB_WFM_WORKFLOWMODEL m
        <where>
            and ai.ID=ins.BUSINESSID and act.INSTANCEID = ins.ID  and m.ID=act.MODELID
            AND ai.STATUS not in (-1,0,4)
            <!-- 选择处理人为:我 -->

            <if test="p.user.type != 100 ">
                and (act.HANDLEPERSONIDS =  #{p.user.idcard} or m.noticeperon like concat(concat('%', #{p.user.idcard}),'%') )
            </if>
            <!-- 选择处理人为:我 -->
            <if test="p.processType == 1">
                and act.HANDLEPERSONIDS =#{p.user.idcard}
                AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <!-- 选择处理人为:其他人 -->
            <if test="p.processType == 2">
                and  act.HANDLEPERSONIDS !=#{p.user.idcard}  AND act.ACTIVITYSTATUS='待办' AND act.ACTIVITYTYPE is NULL
            </if>
            <if test="p.areas != null and p.areas != ''">
                and ai.AREAS = #{p.areas}
            </if>
            <if test="p.policeCategory != null and p.policeCategory != ''">
                and ai.POLICE_CATEGORY = #{p.policeCategory}
            </if>
            <if test="(p.submitStartDate!= null and p.submitStartDate != '') and (p.submitEndDate != null and p.submitEndDate != '')">
                AND TO_CHAR(ai.APPLICATION_TIME,'YYYY-MM-DD') &gt;= #{p.submitStartDate}
                AND TO_CHAR(ai.APPLICATION_TIME,'YYYY-MM-DD') &lt;= #{p.submitEndDate}
            </if>
        </where>

        ORDER BY ai.MODIFIED_TIME DESC
    </select>

</mapper>
