<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.bean.mapper.IaasdistrubiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.Iaasdistrubite">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="NUM" property="num" />
        <result column="NET_ID" property="netId" />
        <result column="ICON" property="icon" />
        <result column="BACKGROUND" property="background" />
    </resultMap>

</mapper>
