<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.OperateRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.OperateRecord">
        <id column="ID" property="id" />
        <result column="TARGET_ID" property="targetId" />
        <result column="OPERATE" property="operate" />
        <result column="OPERATOR" property="operator" />
        <result column="RESULT" property="result" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="FIRST" property="first" />
        <association property="user" column="OPERATOR" select="com.upd.hwcloud.dao.UserMapper.findUserByIdcard" />
    </resultMap>

    <select id="getPage" resultMap="BaseResultMap">
        SELECT R.* FROM TB_OPERATE_RECORD R
        WHERE TARGET_ID = #{targetId}
        ORDER BY MODIFIED_TIME DESC
    </select>

</mapper>
