<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.PaasZhzyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.PaasZhzy">
        <id column="ID" property="id" />
        <result column="TENANT_NAME" property="tenantName" />
        <result column="APPLY_NAME" property="applyName" />
        <result column="AREA" property="area" />
        <result column="POLICE" property="police" />
        <result column="NATIONAL_SPECIAL_PROJECT" property="nationalSpecialProject" />
        <result column="SUPER_CLUSTER_EN" property="superClusterEn" />
        <result column="SUPER_CLUSTER_CN" property="superClusterCn" />
        <result column="TYPE_SITE" property="typeSite" />
        <result column="ODS_TIME" property="odsTime" />
        <result column="CPU_TOTAL" property="cpuTotal" />
        <result column="CPU_USAGE" property="cpuUsage" />
        <result column="CPU_USED" property="cpuUsed" />
        <result column="MEMORY_TOTAL" property="memoryTotal" />
        <result column="MEMORY_USAGE" property="memoryUsage" />
        <result column="MEMORY_USED" property="memoryUsed" />
        <result column="ELASTICSEARCH_STORAGE_SPACE" property="elasticsearchStorageSpace" />
        <result column="ELASTICSEARCH_MONITOR_OBJECT" property="elasticsearchMonitorObject" />
        <result column="ELASTICSEARCH_CPU_TOTAL" property="elasticsearchCpuTotal" />
        <result column="ELASTICSEARCH_CPU_USAGE" property="elasticsearchCpuUsage" />
        <result column="ELASTICSEARCH_MEMORY_TOTAL" property="elasticsearchMemoryTotal" />
        <result column="ELASTICSEARCH_MEMORY_USAGE" property="elasticsearchMemoryUsed" />
        <result column="ELASTICSEARCH_DISK_AVAILABLE" property="elasticsearchDiskAvailable" />
        <result column="ELASTICSEARCH_DISK_USED" property="elasticsearchDiskUsed" />
        <result column="REDIS_CLUSTER_NAME" property="redisClusterName" />
        <result column="REDIS_MEMORY_TOTAL" property="redisMemoryTotal" />
        <result column="REDIS_MEMORY_USAGE" property="redisMemoryUsage" />
        <result column="KAFKA_STORAGE_SPACE_NAME" property="kafkaStorageSpaceName" />
        <result column="ELASTICSEARCH_IS_SHARE" property="elasticsearchIsShare" />
        <result column="ELASTICSEARCH_HOSTS_NUMBER" property="elasticsearchHostsNumber" />
        <result column="STORAGE_TOTAL" property="storageTotal" />
        <result column="STORAGE_USAGE" property="storageUsage" />
        <result column="STORAGE_USED" property="storageUsed" />
    </resultMap>

    <select id="getPaasYarn" resultMap="BaseResultMap">
        SELECT CPU_TOTAL,CPU_USAGE,CPU_USED,MEMORY_TOTAL,MEMORY_USAGE,MEMORY_USED FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'
            <if test="area != null and area != ''">
                AND AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
    </select>

    <select id="getPaasElasticsearch" resultMap="BaseResultMap">
        SELECT
        NVL(SUM(ELASTICSEARCH_CPU_TOTAL),0) ELASTICSEARCH_CPU_TOTAL,
        NVL(SUM(ELASTICSEARCH_MEMORY_TOTAL),0) ELASTICSEARCH_MEMORY_TOTAL,
        NVL(SUM(ELASTICSEARCH_MEMORY_USED),0) ELASTICSEARCH_MEMORY_USED,
        NVL(SUM(ELASTICSEARCH_DISK_AVAILABLE),0) ELASTICSEARCH_DISK_AVAILABLE,
        NVL(SUM(ELASTICSEARCH_DISK_USED),0) ELASTICSEARCH_DISK_USED,
        CASE NVL(SUM(ELASTICSEARCH_CPU_TOTAL),0)
        WHEN 0 THEN
        0 ELSE ROUND( SUM( ELASTICSEARCH_CPU_TOTAL * ELASTICSEARCH_CPU_USAGE ) / SUM( ELASTICSEARCH_CPU_TOTAL ), 2 )
        END ELASTICSEARCH_CPU_USAGE
        FROM TB_PAAS_ZHZY
        <where>
            <if test="area != null and area != ''">
                AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
        </where>
    </select>

    <select id="getPaasRedis" resultMap="BaseResultMap">
        SELECT
        NVL(SUM(REDIS_MEMORY_TOTAL),0) REDIS_MEMORY_TOTAL,
        CASE NVL(SUM(REDIS_MEMORY_TOTAL),0)
        WHEN 0 THEN
        0 ELSE ROUND( SUM( REDIS_MEMORY_TOTAL * REDIS_MEMORY_USAGE ) / SUM( REDIS_MEMORY_TOTAL ), 2 )
        END REDIS_MEMORY_USAGE
        FROM TB_PAAS_ZHZY
        <where>
            <if test="area != null and area != ''">
                AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
        </where>
    </select>

    <select id="getPaasLibra" resultMap="BaseResultMap">
        SELECT CPU_TOTAL,CPU_USAGE,CPU_USED,MEMORY_TOTAL,MEMORY_USAGE,MEMORY_USED FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'
            <if test="area != null and area != ''">
                AND AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
    </select>

    <select id="appFromAreaOrPolice" resultType="java.lang.String">
        SELECT APPLY_NAME FROM TB_PAAS_ZHZY
        <where>
            <if test="area != null and area != ''">
                AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
        </where>
    </select>

    <select id="appClusterDetailsByTypeSite" resultMap="BaseResultMap">
        SELECT CPU_TOTAL,CPU_USAGE,CPU_USED,MEMORY_TOTAL,MEMORY_USAGE,MEMORY_USED FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName} AND TYPE_SITE=#{typeSite}
    </select>

    <select id="appClusterDetailsByElasticsearch" resultMap="BaseResultMap">
        SELECT APPLY_NAME,ELASTICSEARCH_CPU_TOTAL,ELASTICSEARCH_CPU_USAGE,ELASTICSEARCH_MEMORY_TOTAL,ELASTICSEARCH_MEMORY_USED,ELASTICSEARCH_DISK_AVAILABLE,ELASTICSEARCH_DISK_USED FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="appClusterDetailsByRedis" resultMap="BaseResultMap">
        SELECT APPLY_NAME,REDIS_MEMORY_TOTAL,REDIS_MEMORY_USAGE FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="getClusterByTypeSite" resultMap="BaseResultMap">
        SELECT TYPE_SITE FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="getClusterByElasticsearch" resultMap="BaseResultMap">
        SELECT ELASTICSEARCH_STORAGE_SPACE FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="getClusterByRedis" resultMap="BaseResultMap">
        SELECT REDIS_CLUSTER_NAME FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="paasOverviewByYarn" resultMap="BaseResultMap">
        SELECT SUM(CPU_TOTAL) CPU_TOTAL,SUM(MEMORY_TOTAL) MEMORY_TOTAL,SUM(STORAGE_TOTAL) STORAGE_TOTAL FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop' AND ODS_TIME=(SELECT MAX(ODS_TIME) FROM TB_PAAS_ZHZY)
        <if test="area != null and area != ''">
            AND AREA=#{area}
        </if>
        <if test="police != null and police != ''">
            AND POLICE=#{police}
        </if>
    </select>

    <select id="paasOverviewByElasticsearch" resultMap="BaseResultMap">
        SELECT SUPER_CLUSTER_CN,SUPER_CLUSTER_EN,NVL(ELASTICSEARCH_HOSTS_NUMBER,0) ELASTICSEARCH_HOSTS_NUMBER FROM TB_PAAS_ZHZY
        WHERE ODS_TIME=(SELECT MAX(ODS_TIME) FROM TB_PAAS_ZHZY)
        <if test="area != null and area != ''">
            AND AREA=#{area}
        </if>
        <if test="police != null and police != ''">
            AND POLICE=#{police}
        </if>
    </select>

    <select id="paasOverviewByRedis" resultMap="BaseResultMap">
        SELECT SUM(REDIS_MEMORY_TOTAL) REDIS_MEMORY_TOTAL FROM TB_PAAS_ZHZY
        WHERE ODS_TIME=(SELECT MAX(ODS_TIME) FROM TB_PAAS_ZHZY)
        <if test="area != null and area != ''">
            AND AREA=#{area}
        </if>
        <if test="police != null and police != ''">
            AND POLICE=#{police}
        </if>
    </select>

    <select id="paasOverviewByLibra" resultMap="BaseResultMap">
        SELECT SUM(CPU_TOTAL) CPU_TOTAL,SUM(MEMORY_TOTAL) MEMORY_TOTAL,SUM(STORAGE_TOTAL) STORAGE_TOTAL FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra' AND ODS_TIME=(SELECT MAX(ODS_TIME) FROM TB_PAAS_ZHZY)
        <if test="area != null and area != ''">
            AND AREA=#{area}
        </if>
        <if test="police != null and police != ''">
            AND POLICE=#{police}
        </if>
    </select>

    <!--    拼接条件语句-->
    <sql id="commom" >
        <if test="area != null and area != ''">
            AND AREA=#{area}
        </if>
        <if test="police != null and police != ''">
            AND POLICE=#{police}
        </if>

        <if test="day==1">
            and TO_CHAR(SYSDATE,'YYYYMMDD')=TO_CHAR(ODS_TIME,'YYYYMMDD')
        </if>

        <if test="day==7">
            and TO_CHAR(SYSDATE,'YYYYMMDD')-TO_CHAR(ODS_TIME,'YYYYMMDD') &lt; 6
            and TO_CHAR(ODS_TIME,'hh24:mi')='00:00'
        </if>
        <if test="day==30">
            and TO_CHAR(SYSDATE,'YYYYMMDD')-TO_CHAR(ODS_TIME,'YYYYMMDD') &lt; 29
            and TO_CHAR(ODS_TIME,'hh24:mi')='00:00'
        </if>
    </sql>

    <!--    拼接条件语句-->
    <sql id="paas" >
        <if test="area != null and area != ''">
            AND AREA=#{area}
        </if>
        <if test="police != null and police != ''">
            AND POLICE=#{police}
        </if>

        <if test="day==1">
            and TO_CHAR(SYSDATE,'YYYYMMDD')=TO_CHAR(ODS_TIME,'YYYYMMDD')
        </if>

        <if test="day==7">
            and TO_CHAR(SYSDATE,'YYYYMMDD')-TO_CHAR(ODS_TIME,'YYYYMMDD') &lt; 6
            and TO_CHAR(ODS_TIME,'hh24:mi')='00:00'
        </if>
        <if test="day==30">
            and TO_CHAR(SYSDATE,'YYYYMMDD')-TO_CHAR(ODS_TIME,'YYYYMMDD') &lt; 29
            and TO_CHAR(ODS_TIME,'hh24:mi')='00:00'
        </if>
        <if test="clusterName != null and clusterName != ''">
            and SUPER_CLUSTER_EN=#{clusterName}
        </if>
    </sql>

    <!--    查询yarn的cpu 峰值-->
    <select id="cpuMaxByYarn" resultMap="BaseResultMap">
        SELECT max(CPU_USAGE) CPU_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'
        <include refid="commom"></include>
    </select>
    <!--    查询yarn的memory 峰值-->
    <select id="memoryMaxByYarn" resultMap="BaseResultMap">
        SELECT max(MEMORY_USAGE) MEMORY_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'
        <include refid="commom"></include>
    </select>

    <!--    查询yarn的storage 峰值-->
    <select id="storageMaxByYarn" resultMap="BaseResultMap">
        SELECT NVL(max(STORAGE_TOTAL),0) STORAGE_TOTAL,NVL(max(STORAGE_USED),0) STORAGE_USED FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'
        <include refid="commom"></include>
    </select>
    <!--    查询Libra的cpu 峰值-->
    <select id="cpuMaxByLibra" resultMap="BaseResultMap">
        SELECT NVL(max(CPU_USAGE),0) CPU_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'
        <include refid="commom"></include>

    </select>
    <!--    查询Libra的 memory峰值-->
    <select id="memoryMaxByLibra" resultMap="BaseResultMap">
        SELECT NVL(max(MEMORY_USAGE),0) MEMORY_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'
        <include refid="commom"></include>
    </select>

    <!--    查询Libra的 storage 峰值-->
    <select id="storageMaxByLibra" resultMap="BaseResultMap">
        SELECT NVL(max(STORAGE_TOTAL),0) STORAGE_TOTAL,NVL(max(STORAGE_USED),0) STORAGE_USED FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'
        <include refid="commom"></include>
    </select>


    <!--    查询Elasticsearch的cpu 峰值-->
    <select id="cpuMaxByElasticsearch" resultMap="BaseResultMap">
        SELECT NVL(max(ELASTICSEARCH_CPU_USAGE),0) ELASTICSEARCH_CPU_USAGE FROM TB_PAAS_ZHZY
        <where>
            <include refid="paas"></include>
        </where>

    </select>
    <!--    查询Elasticsearch的 内存峰值-->
    <select id="memoryMaxByElasticsearch" resultMap="BaseResultMap">
        SELECT NVL(max(ELASTICSEARCH_MEMORY_TOTAL),0) ELASTICSEARCH_MEMORY_TOTAL,NVL(max(ELASTICSEARCH_MEMORY_USED),0) ELASTICSEARCH_MEMORY_USED FROM TB_PAAS_ZHZY
        <where>
            <include refid="paas"></include>
        </where>
    </select>

    <!--    查询Elasticsearch的 存储 峰值-->
    <select id="storageMaxByElasticsearch" resultMap="BaseResultMap">
        SELECT NVL(max(ELASTICSEARCH_DISK_AVAILABLE),0) ELASTICSEARCH_DISK_AVAILABLE,NVL(max(ELASTICSEARCH_DISK_USED),0) ELASTICSEARCH_DISK_USED FROM TB_PAAS_ZHZY
        <where>
            <include refid="paas"></include>
        </where>
    </select>

    <!--    查询Redis的 内存峰值-->
    <select id="memoryMaxByRedis" resultMap="BaseResultMap">
        SELECT NVL(max(REDIS_MEMORY_USAGE),0) REDIS_MEMORY_USAGE FROM TB_PAAS_ZHZY
        <where>
            <include refid="commom"></include>
        </where>
    </select>

    <!--    查询Yarn的 使用情况-->
    <select id="situationByYarn" resultMap="BaseResultMap">
        SELECT ODS_TIME,CPU_USAGE,CPU_USED,MEMORY_USAGE,MEMORY_USED,NVL(STORAGE_TOTAL,0) STORAGE_TOTAL,NVL(STORAGE_USED,0) STORAGE_USED FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'
        <include refid="commom"></include>
        ORDER BY ODS_TIME ASC
    </select>

    <!--    查询Libra的 使用情况-->
    <select id="situationByLibra" resultMap="BaseResultMap">
        SELECT ODS_TIME,CPU_USAGE,CPU_USED,MEMORY_USAGE,MEMORY_USED,NVL(STORAGE_TOTAL,0) STORAGE_TOTAL,NVL(STORAGE_USED,0) STORAGE_USED FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'
        <include refid="commom"></include>
        ORDER BY ODS_TIME ASC
    </select>

    <!--    查询Elasticsearch的 使用情况-->
    <select id="situationByElasticsearch" resultMap="BaseResultMap">
        SELECT ODS_TIME,ELASTICSEARCH_CPU_TOTAL,ELASTICSEARCH_CPU_USAGE,ELASTICSEARCH_MEMORY_TOTAL,ELASTICSEARCH_MEMORY_USED,ELASTICSEARCH_DISK_AVAILABLE,ELASTICSEARCH_DISK_USED FROM TB_PAAS_ZHZY
        <where>
            <include refid="paas"></include>
        </where>
        ORDER BY ODS_TIME ASC
    </select>

    <!--    查询Elasticsearch的 使用情况-->
    <select id="situationByRedis" resultMap="BaseResultMap">
        SELECT ODS_TIME,REDIS_MEMORY_TOTAL,REDIS_MEMORY_USAGE FROM TB_PAAS_ZHZY
        <where>
            <include refid="commom"></include>
        </where>
        ORDER BY ODS_TIME ASC
    </select>


    <!--查询Yarn资源-->
    <select id="getPaasYarnResource" resultMap="BaseResultMap">
        SELECT CPU_TOTAL,CPU_USAGE,CPU_USED,MEMORY_TOTAL,MEMORY_USAGE,MEMORY_USED,ODS_TIME FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>
        order by ODS_TIME
    </select>

    <!--    查询yarn的cpu 峰值-->
    <select id="maxYarnCpu" resultMap="BaseResultMap">
        SELECT NVL(max(CPU_USAGE),0)  CPU_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>

    </select>
    <!--    查询yarn的内存 峰值-->
    <select id="maxYarnMemory" resultMap="BaseResultMap">
        SELECT NVL(max(MEMORY_USAGE),0) MEMORY_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

    <!--    查询yarn的cpu,内存的总量-->
    <select id="totalYarnCpu" resultMap="BaseResultMap">
        SELECT sum(CPU_TOTAL) CPU_TOTAL ,sum(MEMORY_TOTAL) MEMORY_TOTAL FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

    <!--查询Libra资源-->
    <select id="getPaasLibraResource" resultMap="BaseResultMap">
        SELECT CPU_TOTAL,CPU_USAGE,CPU_USED,MEMORY_TOTAL,MEMORY_USAGE,MEMORY_USED,ODS_TIME,STORAGE_TOTAL FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>
        order by ODS_TIME
    </select>



    <!--    查询Libra的cpu 峰值-->
    <select id="maxLibraCpu" resultMap="BaseResultMap">
        SELECT NVL(max(CPU_USAGE),0) CPU_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>

    </select>

    <!--    查询Libra的 存储 峰值-->
    <select id="maxLibraStorage" resultMap="BaseResultMap">
        SELECT NVL(max(STORAGE_USAGE),0) STORAGE_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

    <!--    查询Libra的 内存峰值-->
    <select id="maxLibraMemary" resultMap="BaseResultMap">
        SELECT NVL(max(MEMORY_USAGE),0) MEMORY_USAGE FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

    <!--    查询Libra的 内存,cpu,存储总数-->
    <select id="totalLibraMemary" resultMap="BaseResultMap">
        SELECT sum(MEMORY_TOTAL) MEMORY_TOTAL,sum(CPU_TOTAL) CPU_TOTAL ,sum(STORAGE_TOTAL) STORAGE_TOTAL FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'  and APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>


    <!--    es内存，cpu存储使用情况-->

    <select id="getPaasEsResource" resultMap="BaseResultMap">
        SELECT ELASTICSEARCH_CPU_TOTAL,ELASTICSEARCH_CPU_USAGE,ELASTICSEARCH_MEMORY_TOTAL,ELASTICSEARCH_MEMORY_USED,ODS_TIME,
        SUPER_CLUSTER_CN,SUPER_CLUSTER_EN,ELASTICSEARCH_HOSTS_NUMBER
        FROM TB_PAAS_ZHZY
        WHERE APPLY_NAME=#{appName}
        <include refid="commom"></include>
        order by ODS_TIME
    </select>

    <!--    es存储峰值-->
    <select id="maxEsStorage" resultMap="BaseResultMap">
        SELECT NVL(max(STORAGE_USAGE),0) STORAGE_USAGE  FROM TB_PAAS_ZHZY
        WHERE APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

    <!--    es内存峰值-->
    <select id="maxEsMemary" resultMap="BaseResultMap">
        SELECT NVL(ELASTICSEARCH_MEMORY_TOTAL,0) ELASTICSEARCH_MEMORY_TOTAL,NVL(ELASTICSEARCH_MEMORY_USED,0) ELASTICSEARCH_MEMORY_USED FROM TB_PAAS_ZHZY
        WHERE APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

    <!--    es  cpu峰值-->
    <select id="maxEsCpu" resultMap="BaseResultMap">
        SELECT NVL(max(ELASTICSEARCH_CPU_USAGE),0) ELASTICSEARCH_CPU_USAGE FROM TB_PAAS_ZHZY
        WHERE APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

    <select id="totalEsMemary" resultMap="BaseResultMap">
        SELECT sum(ELASTICSEARCH_MEMORY_TOTAL) ELASTICSEARCH_MEMORY_TOTAL,sum(ELASTICSEARCH_CPU_TOTAL) ELASTICSEARCH_CPU_TOTAL,sum(STORAGE_TOTAL) STORAGE_TOTAL FROM TB_PAAS_ZHZY
        WHERE APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>


    <!--    redis  的cpu，内存，使用情况-->
    <select id="getPaasRedisResource" resultMap="BaseResultMap">
        SELECT REDIS_MEMORY_USAGE,ODS_TIME FROM TB_PAAS_ZHZY
        WHERE    APPLY_NAME=#{appName}
        <include refid="commom"></include>
        order by ODS_TIME
    </select>

    <!--    redis内存总量-->
    <select id="totalRedisMemary" resultMap="BaseResultMap">
        SELECT sum(REDIS_MEMORY_TOTAL) REDIS_MEMORY_TOTAL FROM TB_PAAS_ZHZY
        WHERE APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

    <!--    redis内存最高使用率-->
    <select id="maxRedisMemary" resultMap="BaseResultMap">
        SELECT NVL(max(REDIS_MEMORY_USAGE),0)  REDIS_MEMORY_USAGE FROM TB_PAAS_ZHZY
        WHERE APPLY_NAME=#{appName}
        <include refid="commom"></include>
    </select>

</mapper>
