<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.PaasZhzyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.PaasZhzy">
        <id column="ID" property="id" />
        <result column="TENANT_NAME" property="tenantName" />
        <result column="APPLY_NAME" property="applyName" />
        <result column="AREA" property="area" />
        <result column="POLICE" property="police" />
        <result column="NATIONAL_SPECIAL_PROJECT" property="nationalSpecialProject" />
        <result column="SUPER_CLUSTER_EN" property="superClusterEn" />
        <result column="SUPER_CLUSTER_CN" property="superClusterCn" />
        <result column="TYPE_SITE" property="typeSite" />
        <result column="ODS_TIME" property="odsTime" />
        <result column="CPU_TOTAL" property="cpuTotal" />
        <result column="CPU_USAGE" property="cpuUsage" />
        <result column="CPU_USED" property="cpuUsed" />
        <result column="MEMORY_TOTAL" property="memoryTotal" />
        <result column="MEMORY_USAGE" property="memoryUsage" />
        <result column="MEMORY_USED" property="memoryUsed" />
        <result column="ELASTICSEARCH_STORAGE_SPACE" property="elasticsearchStorageSpace" />
        <result column="ELASTICSEARCH_MONITOR_OBJECT" property="elasticsearchMonitorObject" />
        <result column="ELASTICSEARCH_CPU_TOTAL" property="elasticsearchCpuTotal" />
        <result column="ELASTICSEARCH_CPU_USAGE" property="elasticsearchCpuUsage" />
        <result column="ELASTICSEARCH_MEMORY_TOTAL" property="elasticsearchMemoryTotal" />
        <result column="ELASTICSEARCH_MEMORY_USAGE" property="elasticsearchMemoryUsed" />
        <result column="ELASTICSEARCH_DISK_AVAILABLE" property="elasticsearchDiskAvailable" />
        <result column="ELASTICSEARCH_DISK_USED" property="elasticsearchDiskUsed" />
        <result column="REDIS_CLUSTER_NAME" property="redisClusterName" />
        <result column="REDIS_MEMORY_TOTAL" property="redisMemoryTotal" />
        <result column="REDIS_MEMORY_USAGE" property="redisMemoryUsage" />
        <result column="KAFKA_STORAGE_SPACE_NAME" property="kafkaStorageSpaceName" />
    </resultMap>

    <select id="getPaasYarn" resultMap="BaseResultMap">
        SELECT CPU_TOTAL,CPU_USAGE,CPU_USED,MEMORY_TOTAL,MEMORY_USAGE,MEMORY_USED FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='hadoop'
            <if test="area != null and area != ''">
                AND AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
    </select>

    <select id="getPaasElasticsearch" resultMap="BaseResultMap">
        SELECT
        NVL(SUM(ELASTICSEARCH_CPU_TOTAL),0) ELASTICSEARCH_CPU_TOTAL,
        NVL(SUM(ELASTICSEARCH_MEMORY_TOTAL),0) ELASTICSEARCH_MEMORY_TOTAL,
        NVL(SUM(ELASTICSEARCH_MEMORY_USED),0) ELASTICSEARCH_MEMORY_USED,
        NVL(SUM(ELASTICSEARCH_DISK_AVAILABLE),0) ELASTICSEARCH_DISK_AVAILABLE,
        NVL(SUM(ELASTICSEARCH_DISK_USED),0) ELASTICSEARCH_DISK_USED,
        CASE NVL(SUM(ELASTICSEARCH_CPU_TOTAL),0)
        WHEN 0 THEN
        0 ELSE ROUND( SUM( ELASTICSEARCH_CPU_TOTAL * ELASTICSEARCH_CPU_USAGE ) / SUM( ELASTICSEARCH_CPU_TOTAL ), 2 )
        END ELASTICSEARCH_CPU_USAGE
        FROM TB_PAAS_ZHZY
        <where>
            <if test="area != null and area != ''">
                AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
        </where>
    </select>

    <select id="getPaasRedis" resultMap="BaseResultMap">
        SELECT
        NVL(SUM(REDIS_MEMORY_TOTAL),0) REDIS_MEMORY_TOTAL,
        CASE NVL(SUM(REDIS_MEMORY_TOTAL),0)
        WHEN 0 THEN
        0 ELSE ROUND( SUM( REDIS_MEMORY_TOTAL * REDIS_MEMORY_USAGE ) / SUM( REDIS_MEMORY_TOTAL ), 2 )
        END REDIS_MEMORY_USAGE
        FROM TB_PAAS_ZHZY
        <where>
            <if test="area != null and area != ''">
                AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
        </where>
    </select>

    <select id="getPaasLibra" resultMap="BaseResultMap">
        SELECT CPU_TOTAL,CPU_USAGE,CPU_USED,MEMORY_TOTAL,MEMORY_USAGE,MEMORY_USED FROM TB_PAAS_ZHZY
        WHERE TYPE_SITE='Libra'
            <if test="area != null and area != ''">
                AND AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
    </select>

    <select id="appFromAreaOrPolice" resultType="java.lang.String">
        SELECT APPLY_NAME FROM TB_PAAS_ZHZY
        <where>
            <if test="area != null and area != ''">
                AREA=#{area}
            </if>
            <if test="police != null and police != ''">
                AND POLICE=#{police}
            </if>
        </where>
    </select>

    <select id="appClusterDetailsByTypeSite" resultMap="BaseResultMap">
        SELECT CPU_TOTAL,CPU_USAGE,CPU_USED,MEMORY_TOTAL,MEMORY_USAGE,MEMORY_USED FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName} AND TYPE_SITE=#{typeSite}
    </select>

    <select id="appClusterDetailsByElasticsearch" resultMap="BaseResultMap">
        SELECT APPLY_NAME,ELASTICSEARCH_CPU_TOTAL,ELASTICSEARCH_CPU_USAGE,ELASTICSEARCH_MEMORY_TOTAL,ELASTICSEARCH_MEMORY_USED,ELASTICSEARCH_DISK_AVAILABLE,ELASTICSEARCH_DISK_USED FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="appClusterDetailsByRedis" resultMap="BaseResultMap">
        SELECT APPLY_NAME,REDIS_MEMORY_TOTAL,REDIS_MEMORY_USAGE FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="getClusterByTypeSite" resultMap="BaseResultMap">
        SELECT TYPE_SITE FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="getClusterByElasticsearch" resultMap="BaseResultMap">
        SELECT ELASTICSEARCH_STORAGE_SPACE FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

    <select id="getClusterByRedis" resultMap="BaseResultMap">
        SELECT REDIS_CLUSTER_NAME FROM TB_PAAS_ZHZY WHERE APPLY_NAME=#{appName}
    </select>

</mapper>
