<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.SaasApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.SaasApplication">
        <id column="ID" property="id" />
        <result column="CREATOR" property="creator" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="POST_TYPE" property="postType" />
        <result column="MOBILE_WORK" property="mobileWork" />
        <result column="APPLICATION_TIME" property="applicationTime" />
        <result column="APPLY_TYPE" property="applyType" />
        <result column="AREAS" property="areas" />
        <result column="POLICE_CATEGORY" property="policeCategory" />
        <result column="EXPLANATION" property="explanation" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="ORDER_NUMBER" property="orderNumber" />
        <result column="STATUS" property="status" />
        <result column="MERGE_ID" property="mergeId" />
        <result column="IP" property="ip" />
        <result column="NUM" property="num" />
        <result column="RECOVER_FLAG" property="recoverFlag" />
        <result column="IS_IMPORT" property="isImport" />
        <result column="TOTAL" property="total" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="SERVICE_NAME" property="serviceName" />
        <result column="APPLICATION_NAME" property="applicationName" />
    </resultMap>

    <update id="updateRecovering2NotRecover">
        update TB_SAAS_APPLICATION a
        set a.RECOVER_FLAG = '0'
        where a.RECOVER_FLAG = '99'
        and a.CREATOR in (
          select r.RE_IDCARD from TB_SAAS_RECOVER_INFO r where APP_INFO_ID = #{id} group by r.RE_IDCARD
        )
    </update>

    <update id="updateUse2Recover">
        update TB_SAAS_APPLICATION a
        set a.RECOVER_FLAG = '-1'
        where a.STATUS = '3' and a.CREATOR in (
          select r.RE_IDCARD from TB_SAAS_RECOVER_INFO r where APP_INFO_ID = #{id} group by r.RE_IDCARD
        )
    </update>

    <select id="getPage" resultMap="BaseResultMap">
        select DISTINCT sa.* from TB_SAAS_APPLICATION sa,TB_SAAS_APPLICATION_EXT ext
        <where>
            and sa.ID = ext.MASTER_ID
            and sa.IS_IMPORT = 0 and sa.CREATOR = #{p.user.idcard}
            <choose>
                <when test="p.status == null or p.status == ''">
                    AND sa.STATUS not in (-1,0)
                </when>
                <when test="p.status == 1">
                    AND sa.STATUS in (1,7,101,102)
                </when>
                <when test="p.status == 5">
                    AND sa.STATUS in (5,8)
                </when>
                <otherwise>
                    AND sa.STATUS = #{p.status}
                </otherwise>
            </choose>
            <if test="p.userName != null and p.userName != ''">
                <!-- 可以按申请单号查询 -->
                AND sa.CREATOR_NAME like #{p.userName}
            </if>
            <if test="p.orderNumber !=null and p.orderNumber !=''">
                AND sa.ORDER_NUMBER like #{p.orderNumber}
            </if>
            <if test="p.serviceName !=null and p.serviceName !=''">
                AND ext.SERVICE_NAME like #{p.serviceName}
            </if>
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(sa.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.startDate}
                AND TO_CHAR(sa.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.endDate}
            </if>
        </where>
        ORDER BY sa.MODIFIED_TIME DESC
    </select>


    <select id="getWorkbenchApplyPage" resultMap="BaseResultMap">
        select sa.* from TB_SAAS_APPLICATION sa
        <where>
            and sa.IS_IMPORT = 0
            <choose>
                <!--全部状态除购物车-->
                <when test="p.queryVO.status == null or p.queryVO.status == ''">
                    AND sa.STATUS not in (-1,0)
                </when>
                <!--待审核-->
                <when test="p.queryVO.status == 0">
                    AND sa.STATUS in (1,7,101,102)
                </when>
                <!--待实施-->
                <when test="p.queryVO.status == 1">
                    AND sa.STATUS = 2
                </when>
                <!--已驳回-->
                <when test="p.queryVO.status == 2">
                    AND sa.STATUS in (5,6,8)
                </when>
                <!---删除或使用中-->
                <otherwise>
                    AND sa.STATUS = #{p.queryVO.status}
                </otherwise>
            </choose>
            <if test="p.queryVO.keyWord != null and p.queryVO.keyWord != ''">
                <!-- 可以按申请单号查询 -->
                AND sa.ORDER_NUMBER = #{p.queryVO.keyWord}
            </if>
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(sa.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.queryVO.startDate}
                AND TO_CHAR(sa.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.queryVO.endDate}
            </if>
            <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
                and  (sa.AREAS = '省厅' or sa.AREAS is null)
                and  sa.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            </if>
            <!--用户为地市租户管理员-->
            <if test="p.queryVO.area !=null and p.queryVO.area !=''">
                and  sa.AREAS = #{p.queryVO.area}
                and  sa.AREAS != '省厅'
            </if>
            <!--用户为个人用户-->
            <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
                and  sa.CREATOR = #{p.queryVO.creator}
            </if>
        </where>
        ORDER BY sa.MODIFIED_TIME DESC
    </select>

    <select id="getWorkbenchApplyCount" resultType="java.lang.Integer">
        select count(*) from TB_SAAS_APPLICATION
        <where>
            and IS_IMPORT = 0
            <choose>
                <!--全部状态除购物车-->
                <when test="p.queryVO.status == null or p.queryVO.status == ''">
                    AND STATUS not in (-1,0)
                </when>
                <!--待审核-->
                <when test="p.queryVO.status == 0">
                    AND STATUS in (1,7,101,102)
                </when>
                <!--待实施-->
                <when test="p.queryVO.status == 1">
                    AND STATUS = 2
                </when>
                <!--已驳回-->
                <when test="p.queryVO.status == 2">
                    AND STATUS in (5,6,8)
                </when>
                <!---删除或使用中-->
                <otherwise>
                    AND STATUS = #{p.queryVO.status}
                </otherwise>
            </choose>
            <if test="p.queryVO.keyWord != null and p.queryVO.keyWord != ''">
                <!-- 可以按申请单号查询 -->
                AND ORDER_NUMBER = #{p.queryVO.keyWord}
            </if>
            <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
                AND TO_CHAR(sa.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.queryVO.startDate}
                AND TO_CHAR(sa.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.queryVO.endDate}
            </if>
            <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
                and  (AREAS = '省厅' or AREAS is null)
                and  POLICE_CATEGORY like #{p.queryVO.policeCategory}
            </if>
            <!--用户为地市租户管理员-->
            <if test="p.queryVO.area !=null and p.queryVO.area !=''">
                and  AREAS = #{p.queryVO.area}
                and  AREAS != '省厅'
            </if>
            <!--用户为个人用户-->
            <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
                and  CREATOR = #{p.queryVO.creator}
            </if>
        </where>
    </select>




    <select id="getMergePage" resultMap="BaseResultMap">
        select a.* from TB_SAAS_APPLICATION a
        where a.IS_IMPORT = 0 and a.MERGE_ID is null and a.STATUS = 7
        <if test="tenantArea != null and tenantArea != ''">
            and a.AREAS = #{tenantArea}
        </if>
        <if test="tenantPoliceCategory != null and tenantPoliceCategory != ''">
            and a.POLICE_CATEGORY = #{tenantPoliceCategory}
            and (a.AREAS = '省厅' or a.AREAS is null)
        </if>
        <if test="keyword != null and keyword != ''">
            and (
            a.CREATOR_NAME = #{keyword}
            or a.ORDER_NUMBER = #{keyword}
            )
        </if>
        ORDER BY a.CREATE_TIME DESC
    </select>

    <select id="getListByMergeId" resultMap="BaseResultMap">
        select a.*,
        (select count(*) from TB_SAAS_APPLICATION_EXT ext where ext.MASTER_ID = a.ID) NUM
        from TB_SAAS_APPLICATION a
        where a.MERGE_ID = #{mergeId} and a.IS_IMPORT = 0
    </select>

    <select id="getSaasTodoCount" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT ai.ID)
        FROM TB_SAAS_APPLICATION_MERGE ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID
        join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE
        ai.STATUS in (1,2,7,101,102)
        and ai.IS_IMPORT = 0
        and act.HANDLEPERSONIDS = #{user.idcard}
        and act.ACTIVITYTYPE is null
        and act.ACTIVITYSTATUS = '待办'
    </select>

    <select id="getApplicationTodo" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT ai.ID)
        FROM TB_SAAS_APPLICATION_MERGE ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID
        join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE
        ai.STATUS in (1,2,7,101,102)
        and ai.IS_IMPORT = 0
        <if test="idCard !=null and idCard !=''">
            and act.HANDLEPERSONIDS = #{idCard}
        </if>
        and act.ACTIVITYTYPE is null
        and act.ACTIVITYSTATUS = '待办'
    </select>

    <select id="getSaasUseRes" resultType="java.lang.Integer">
        select count(*) from TB_SAAS_APPLICATION a,TB_SAAS_APPLICATION_EXT e
        where a.ID = e.MASTER_ID and a.CREATOR = #{user.idcard} and a.STATUS = 3
        <if test="appName != null and appName != ''">
            and e.SERVICE_NAME = #{appName}
        </if>
    </select>

    <select id="getReviewCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT ai.ID)
        FROM TB_SAAS_APPLICATION_MERGE ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE ai.STATUS in (1,7,101,102)
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  ai.POLICE_CATEGORY = #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  ai.AREAS = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and act.HANDLEPERSONIDS = #{user.idcard}
        </if>
        and act.ACTIVITYTYPE is null and act.ACTIVITYSTATUS = '待办'
    </select>

    <select id="getReviewOfWorkbench" resultType="com.upd.hwcloud.bean.entity.SaasApplication">
        SELECT DISTINCT ai.*
        FROM TB_SAAS_APPLICATION_MERGE ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE ai.STATUS in (1,7,101,102)
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  ai.POLICE_CATEGORY = #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  ai.AREAS = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and act.HANDLEPERSONIDS = #{user.idcard}
        </if>
        <if test="p.queryVO.creatorName !=null and p.queryVO.creatorName !=''">
            AND (ai.CREATOR_NAME = #{p.queryVO.creatorName} or ai.ORDER_NUMBER = #{p.queryVO.creatorName})
        </if>
        <if test="(p.queryVO.startDate != null and p.queryVO.startDate != '') and (p.queryVO.endDate != null and p.queryVO.endDate != '')">
            AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.queryVO.startDate}
            AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.queryVO.endDate}
        </if>
        and act.ACTIVITYTYPE is null and act.ACTIVITYSTATUS = '待办'
    </select>

    <select id="getImplCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT ai.ID)
        FROM TB_SAAS_APPLICATION_MERGE ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE ai.STATUS = 2
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  ai.POLICE_CATEGORY = #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  ai.AREAS = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and act.HANDLEPERSONIDS = #{user.idcard}
        </if>
        and act.ACTIVITYTYPE is null and act.ACTIVITYSTATUS = '待办'
    </select>

    <select id="getImplOfWorkbench" resultType="com.upd.hwcloud.bean.entity.SaasApplication">
        SELECT DISTINCT ai.*
        FROM TB_SAAS_APPLICATION_MERGE ai join TB_WFM_INSTANCE ins on ins.BUSINESSID = ai.ID join TB_WFM_ACTIVITY act  on act.INSTANCEID = ins.ID
        WHERE ai.STATUS = 2
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  ai.POLICE_CATEGORY = #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  ai.AREAS = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and act.HANDLEPERSONIDS = #{user.idcard}
        </if>
        <if test="p.queryVO.creatorName !=null and p.queryVO.creatorName !=''">
            AND (ai.CREATOR_NAME = #{p.queryVO.creatorName} or ai.ORDER_NUMBER = #{p.queryVO.creatorName})
        </if>
        <if test="(p.queryVO.startDate != null and p.queryVO.startDate != '') and (p.queryVO.endDate != null and p.queryVO.endDate != '')">
            AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.queryVO.startDate}
            AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.queryVO.endDate}
        </if>
        and act.ACTIVITYTYPE is null and act.ACTIVITYSTATUS = '待办'
    </select>
    <select id="getRejectCount" resultType="java.lang.Integer">
        select count(*) from TB_SAAS_APPLICATION a where a.STATUS in (5,6,8)
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  a.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            and  (a.AREAS = '省厅' or a.AREAS is null)
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  a.AREAS = #{p.queryVO.area}
            and  a.AREAS != '省厅'
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and a.CREATOR = #{user.idcard}
        </if>
    </select>


    <select id="getRejectOfWorkbench" resultType="com.upd.hwcloud.bean.entity.SaasApplication">
        select a.* from TB_SAAS_APPLICATION a where a.STATUS in (5,6,8)
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  a.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            and  (a.AREAS = '省厅' or a.AREAS is null)
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  a.AREAS = #{p.queryVO.area}
            and  a.AREAS != '省厅'
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and a.CREATOR = #{user.idcard}
        </if>
        <if test="p.queryVO.creatorName !=null and p.queryVO.creatorName !=''">
            AND (ai.CREATOR_NAME = #{p.queryVO.creatorName} or ai.ORDER_NUMBER = #{p.queryVO.creatorName})
        </if>
        <if test="(p.queryVO.startDate != null and p.queryVO.startDate != '') and (p.queryVO.endDate != null and p.queryVO.endDate != '')">
            AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.queryVO.startDate}
            AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.queryVO.endDate}
        </if>
    </select>

    <select id="getUseCount" resultType="java.lang.Integer">
        select count(*) from TB_SAAS_APPLICATION a where a.STATUS = 3
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  a.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            and  (a.AREAS = '省厅' or a.AREAS is null)
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  a.AREAS = #{p.queryVO.area}
            and  a.AREAS != '省厅'
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and a.CREATOR = #{user.idcard}
        </if>
    </select>


    <select id="getUseOfWorkbench" resultType="com.upd.hwcloud.bean.entity.SaasApplication">
        select a.* from TB_SAAS_APPLICATION a where a.STATUS = 3
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  a.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            and  (a.AREAS = '省厅' or a.AREAS is null)
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and  a.AREAS = #{p.queryVO.area}
            and  a.AREAS != '省厅'
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and a.CREATOR = #{user.idcard}
        </if>
        <if test="p.queryVO.creatorName !=null and p.queryVO.creatorName !=''">
            AND (ai.CREATOR_NAME = #{p.queryVO.creatorName} or ai.ORDER_NUMBER = #{p.queryVO.creatorName})
        </if>
        <if test="(p.queryVO.startDate != null and p.queryVO.startDate != '') and (p.queryVO.endDate != null and p.queryVO.endDate != '')">
            AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.queryVO.startDate}
            AND TO_CHAR(ai.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.queryVO.endDate}
        </if>
    </select>

    <select id="getWorkbenchPage" resultType="com.upd.hwcloud.bean.entity.SaasApplication">
        SELECT
            a.*,e.SERVICE_NAME
        FROM
            TB_SAAS_APPLICATION a,TB_SAAS_APPLICATION_EXT e
        WHERE a.ID = e.MASTER_ID AND a.STATUS = 3 AND a.CREATOR = #{p.user.idcard}
        <if test="p.orderNumber != null and p.orderNumber != ''">
            AND a.ORDER_NUMBER = #{p.orderNumber}
        </if>
        <if test="(p.startDate != null and p.startDate != '') and (p.endDate != null and p.endDate != '')">
            AND TO_CHAR(a.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.startDate}
            AND TO_CHAR(a.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.endDate}
        </if>
        <if test="p.serviceName != null and p.serviceName != ''">
            AND e.SERVICE_NAME like concat(concat('%', #{p.serviceName}),'%')
        </if>
        ORDER BY a.MODIFIED_TIME DESC
    </select>

    <select id="getSaasUseService" resultMap="BaseResultMap">
        select a.ID,a.CREATOR,a.CREATOR_NAME,a.ORG_ID,a.ORG_NAME,b.SERVICE_ID,b.SERVICE_NAME
        from TB_SAAS_APPLICATION a
        JOIN TB_SAAS_APPLICATION_EXT b ON a.ID = b.MASTER_ID
        <!-- 查询正在使用中的服务,包含使用中和正在回收中的 -->
        where a.creator=#{userId} and a.RECOVER_FLAG != '-1' and a.STATUS ='3'
    </select>
    <select id="getBelongAppName" resultType="java.lang.String">
       select d.NAME from TB_SAAS c join SYS_DICT d on c.SUB_TYPE = d.ID where c.ID =#{id}
    </select>
    <select id="getApplicationUser" resultMap="BaseResultMap">
        select CREATOR,CREATOR_NAME,ORG_ID,ORG_NAME,count(1) TOTAL
        from TB_SAAS_APPLICATION a
        JOIN TB_SAAS_APPLICATION_EXT b ON a.ID = b.MASTER_ID
        <!-- 查询正在使用中的服务(包含使用中和正在回收中的),且用户没有被正在处理回收申请单 -->
        WHERE a.RECOVER_FLAG != '-1' and a.STATUS ='3'
        and not exists (select ra.CREATOR from TB_SAAS_RECOVER_APPLICATION ra,TB_SAAS_RECOVER_INFO ri
                        where ri.APP_INFO_ID = ra.ID and ra.STATUS != '3' and ri.RE_IDCARD = a.CREATOR)
        <if test="area != null and area != ''">
            and a.AREAS = #{area}
        </if>
        <if test="policeCategory != null and policeCategory != ''">
            and a.POLICE_CATEGORY = #{policeCategory}
        </if>
        <if test="name != null and name != ''">
            and a.CREATOR_NAME = #{name}
        </if>
        <if test="idcard != null and idcard != ''">
            and a.CREATOR = #{idcard}
        </if>
        GROUP BY CREATOR,CREATOR_NAME,ORG_ID,ORG_NAME
    </select>
    <select id="getSaasRecoverManageUseService"  resultMap="BaseResultMap">
        	select * from TB_SAAS_APPLICATION where CREATOR = #{userId}
    </select>


    <select id="getApplicationPage" resultType="com.upd.hwcloud.bean.vo.workbench.ResourceOverviewVO">
        select ext.SERVICE_NAME appName,ext.SERVICE_ID appId,sa.ID infoID,sa.CREATOR_NAME,sa.ORG_NAME creatorUnit,sa.CREATE_TIME,sa.ORDER_NUMBER  from TB_SAAS_APPLICATION sa
        LEFT JOIN TB_SAAS_APPLICATION_EXT ext ON  sa.ID = ext.MASTER_ID
        where sa.STATUS =3 and sa.IS_IMPORT=0 and sa.RECOVER_FLAG != -1
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  (sa.AREAS = '省厅' or sa.AREAS is null)
            and  sa.POLICE_CATEGORY like #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and sa.AREAS = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and sa.CREATOR = #{p.queryVO.creator}
        </if>
        <if test="p.queryVO.keyWord !=null and p.queryVO.keyWord !=''">
            and ext.SERVICE_NAME like #{p.queryVO.keyWord}
        </if>
        ORDER BY ext.SERVICE_NAME
    </select>

    <select id="getApplicationOverview" resultType="java.util.HashMap">
        SELECT count(DISTINCT appName) num from
        (select ext.SERVICE_NAME appName,ext.SERVICE_ID appId,sa.ID infoID,sa.CREATOR_NAME,sa.ORG_NAME creatorUnit,sa.CREATE_TIME,sa.ORDER_NUMBER  from TB_SAAS_APPLICATION sa
        LEFT JOIN TB_SAAS_APPLICATION_EXT ext ON  sa.ID = ext.MASTER_ID
        where sa.STATUS =3 and sa.IS_IMPORT=0 and sa.RECOVER_FLAG != -1
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and  (sa.AREAS = '省厅' or sa.AREAS is null)
            and  sa.POLICE_CATEGORY like #{p.queryVO.policeCategory}
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area !=''">
            and sa.AREAS = #{p.queryVO.area}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and sa.CREATOR = #{p.queryVO.creator}
        </if>)
    </select>

</mapper>
