<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.SubpageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.Subpage">
        <id column="ID" property="id" />
        <result column="VENDOR" property="vendor" />
        <result column="URL" property="url" />
        <result column="DESCRIPTION_ONE" property="descriptionOne" />
        <result column="DESCRIPTION_TWO" property="descriptionTwo" />
        <result column="DESCRIPTION_THREE" property="descriptionThree" />
        <result column="APPLICATION_ONE" property="applicationOne" />
        <result column="APPLICATION_TWO" property="applicationTwo" />
        <result column="APPLICATION_THREE" property="applicationThree" />
        <result column="USE_ONE" property="useOne" />
        <result column="USE_TWO" property="useTwo" />
        <result column="USE_THREE" property="useThree" />
        <result column="USE_FOUR" property="useFour" />
        <result column="USE_FIVE" property="useFive" />
        <result column="FLOW_ONE" property="flowOne" />
        <result column="FLOW_TWO" property="flowTwo" />
        <result column="FLOW_THREE" property="flowThree" />
        <result column="FLOW_FOUR" property="flowFour" />
        <result column="FEEDBACK_ONE" property="feedbackOne" />
        <result column="FEEDBACK_MAN_ONE" property="feedbackManOne" />
        <result column="FEEDBACK_TWO" property="feedbackTwo" />
        <result column="FEEDBACK_MAN_TWO" property="feedbackManTwo" />
        <result column="FEEDBACK_THREE" property="feedbackThree" />
        <result column="FEEDBACK_MAN_THREE" property="feedbackManThree" />
        <result column="FEEDBACK_FOUR" property="feedbackFour" />
        <result column="FEEDBACK_MAN_FOUR" property="feedbackManFour" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="SORT" property="sort" />
        <result column="USE" property="use" />
        <result column="BUILD" property="build" />
        <result column="BUILD_ORG" property="buildOrg" />
        <result column="BUILD_CONTACT" property="buildContact" />
        <result column="BUILD_PHONE" property="buildPhone" />
        <result column="DEVELOP_ORG" property="developOrg" />
        <result column="DEVELOP_CONTACT" property="developContact" />
        <result column="DEVELOP_PHONE" property="developPhone" />
    </resultMap>

</mapper>
