<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upd.hwcloud.dao.UserDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upd.hwcloud.bean.entity.UserDoc">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="DOMAIN" property="domain" />
        <result column="SORT" property="sort" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="CREATOR" property="creator" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="FILE_URL" property="fileUrl" />
    </resultMap>

    <resultMap id="BaseResultMapWithUser" type="com.upd.hwcloud.bean.entity.UserDoc">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="DOMAIN" property="domain" />
        <result column="SORT" property="sort" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="CREATOR" property="creator" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="FILE_URL" property="fileUrl" />
        <association property="user" column="CREATOR" select="com.upd.hwcloud.dao.UserMapper.findUserByIdcard" />
    </resultMap>

    <select id="getPage" resultMap="BaseResultMapWithUser">
        select d.*,(select f.URL from TB_FILES f where f.REF_ID = d.ID) FILE_URL
        from TB_USER_DOC d
        where d.STATUS = #{status}
        <if test="domain != null and domain != ''">
            and d.DOMAIN = #{domain}
        </if>
        <if test="name != null and name != ''">
            and d.NAME like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="user.type != 100">
            and d.CREATOR = #{user.idcard}
        </if>
        order by d.DOMAIN,d.SORT
    </select>

    <select id="getDocsByDomain" resultMap="BaseResultMap">
        select d.*,(select f.URL from TB_FILES f where f.REF_ID = d.ID) FILE_URL
        from TB_USER_DOC d
        where d.STATUS = 2 and d.DOMAIN = #{domain}
        order by d.SORT
    </select>

</mapper>
