<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.order.mapper.daas.DaasApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.order.bean.daas.DaasApplication">
        <id column="ID" property="id" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="SERVICE_NAME" property="serviceName" />
        <result column="VERSION" property="version" />
        <result column="PROVIDER" property="provider" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="ERROR_MSG" property="errorMsg" />
        <result column="ERROR_JSON" property="errorJson" />
        <result column="INSTANCE_GUID" property="instanceGuid" />
        <result column="USER_DATA" property="userData" />
    </resultMap>
    
    
    <select id="tenantStatistics" resultType="com.hirisun.cloud.model.daas.dto.GeneralDTO">
        select DISTINCT  daas.SERVICE_NAME name ,b.EXPLANATION description from TB_DAAS_APPLICATION daas,TB_APPLICATION_INFO info,TB_BIGDATA b
        WHERE
        info.STATUS = '3' and daas.SERVICE_NAME is not null and info.RESOURCE_TYPE = 2 and info.ID = daas.APP_INFO_ID
        and b.NAME = daas.SERVICE_NAME
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and info.POLICE_CATEGORY = #{p.queryVO.policeCategory}
            and info.AREA_NAME = '省厅'
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area != ''">
            and info.AREA_NAME = #{p.queryVO.area}
            and info.AREA_NAME != '省厅'
            and info.AREA_NAME is not null
        </if>
        <if test="p.queryVO.serviceName !=null and p.queryVO.serviceName !=''">
            and daas.SERVICE_NAME like #{p.queryVO.serviceName}
        </if>
        <if test="p.queryVO.category!=null and p.queryVO.category!=''">
            and b.CATEGORY like #{p.queryVO.category}
        </if>
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and info.CREATOR = #{p.queryVO.creator}
        </if>
    </select>


    <select id="serviceOfSaas" parameterType="java.lang.String" resultType="com.hirisun.cloud.model.daas.dto.GeneralDTO">
        select DISTINCT da.SERVICE_ID id ,da.SERVICE_NAME name from TB_APPLICATION_INFO info
        LEFT JOIN  TB_SAAS s ON s.NAME = info.APP_NAME
        Left join TB_DAAS_APPLICATION da ON info.ID  = da.APP_INFO_ID
        where info.status = 2 and info.RESOURCE_TYPE = 2 and s.NAME = #{name} and da.APP_KEY is not null and da.APP_SECRET is not null
    </select>

</mapper>
