<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.iaas.mapper.IaasLjsfwMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.iaas.bean.IaasLjsfw">
        <id column="ID" property="id" />
        <result column="COMPONENT" property="component" />
        <result column="SPECIFICATION" property="specification" />
        <result column="OS" property="os" />
        <result column="NET" property="net" />
        <result column="NUM" property="num" />
        <result column="DEPLOY_APP" property="deployApp" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="APP_TYPE" property="appType" />
        <result column="COMPONENT_DESC" property="componentDesc" />
        <result column="SHOPPING_CART_ID" property="shoppingCartId" />
    </resultMap>

    <select id="getTotalNum" resultType="java.lang.Integer">
        SELECT
          NVL(SUM(NUM), 0)
        FROM TB_IAAS_LJSFW
        WHERE APP_INFO_ID = #{appInfoId}
    </select>

    <select id="getTotalNumOfShoppingCart" resultType="java.lang.Integer">
                SELECT
          NVL(SUM(NUM), 0)
        FROM TB_IAAS_LJSFW
        WHERE SHOPPING_CART_ID = #{shoppingCartId}
    </select>

</mapper>
