<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.iaas.mapper.IaasTxyfwImplMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.iaas.bean.IaasTxyfwImpl">
        <id column="ID" property="id" />
        <result column="APP_NAME" property="appName" />
        <result column="COMPONENT" property="component" />
        <result column="SPECIFICATION" property="specification" />
        <result column="STORAGE" property="storage" />
        <result column="OS" property="os" />
        <result column="NET" property="net" />
        <result column="SERVER_ID" property="serverId" />
        <result column="SERVER_IP" property="serverIp" />
        <result column="ACCESS_IP" property="accessIp"/>
        <result column="SERVER_PORT" property="serverPort" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="APP_TYPE" property="appType" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="GPU_NUM" property="gpuNum" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="IS_FF" property="isFf" />
    </resultMap>
    
    <select id="ncovEcsList" resultType="com.hirisun.cloud.iaas.bean.IaasTxyfwImpl">
        select impl.*
        from TB_APPLICATION_INFO info, TB_IAAS_TXYFW_IMPL impl
        where
        info.id  = impl.APP_INFO_ID
        and TO_CHAR(info.CREATE_TIME,'YYYY-MM-DD') &gt;=#{startTime}
        and info.STATUS = 3
        and info.RESOURCE_TYPE = 1
        and info.FORM_NUM = 'IAAS_TXYFW'
    </select>

</mapper>
