<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.iaas.mapper.IaasYzmyzyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.iaas.bean.IaasYzmyzy">
        <id column="ID" property="id" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="USE_TYPE" property="useType" />
        <result column="BELONG" property="belong" />
    </resultMap>


    <select id="getResourcePage" resultType="com.hirisun.cloud.model.iaas.vo.CloudDesktopVO">
        select info.id,info.ORDER_NUMBER,info.CREATOR_NAME,info.APPLICATION_TIME,y.USE_TYPE,y.BELONG, u.USER_TYPE,u.name,u.IDCARD,u.PHONE,u.YZY_IP IP
        from
        TB_APPLICATION_INFO info,TB_IAAS_YZMYZY y,TB_IAAS_YZMYZY_USER u
        where  info.ID = y.APP_INFO_ID and info.ID = u.APP_INFO_ID and info.FORM_NUM = 'IAAS_YZMYZY' and info.status = 3
        <if test="p.queryVO.creator !=null and p.queryVO.creator !=''">
            and   info.CREATOR= #{p.queryVO.creator}
        </if>
        <if test="p.queryVO.creatorName !=null and p.queryVO.creatorName !=''">
            and   info.CREATOR_NAME like #{p.queryVO.creatorName}
        </if>
        <if test="p.queryVO.keyWord !=null and p.queryVO.keyWord !=''">
            and  u.YZY_IP like #{p.queryVO.keyWord}
        </if>
        <if test="(p.queryVO.startDate !=null and p.queryVO.endDate!='') and (p.queryVO.startDate !=null and p.queryVO.endDate!='')">
            AND TO_CHAR(info.CREATE_TIME,'YYYY-MM-DD') &gt;= #{p.queryVO.startDate}
            AND TO_CHAR(info.CREATE_TIME,'YYYY-MM-DD') &lt;= #{p.queryVO.endDate}
        </if>
        <if test="p.queryVO.policeCategory !=null and p.queryVO.policeCategory !=''">
            and info.POLICE_CATEGORY like #{p.queryVO.policeCategory}
            and (info.AREA_NAME = '省厅' or info.AREA_NAME is null)
        </if>
        <if test="p.queryVO.area !=null and p.queryVO.area != ''">
            and info.AREA_NAME = #{p.queryVO.area}
        </if>
        order by u.NAME,info.APPLICATION_TIME desc
    </select>
</mapper>
