<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hirisun.cloud.iaas.mapper.IaasLjsfwImplMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hirisun.cloud.iaas.bean.IaasLjsfwImpl">
        <id column="ID" property="id" />
        <result column="APP_NAME" property="appName" />
        <result column="COMPONENT" property="component" />
        <result column="SPECIFICATION" property="specification" />
        <result column="OS" property="os" />
        <result column="NET" property="net" />
        <result column="SERVER_ID" property="serverId" />
        <result column="SERVER_IP" property="serverIp" />
        <result column="SERVER_PORT" property="serverPort" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="APP_INFO_ID" property="appInfoId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="APP_TYPE" property="appType" />
        <result column="ACCESS_IP" property="accessIp" />
        <result column="SERVER_IP1" property="serverIp1" />
        <result column="IS_FF" property="isFf" />
    </resultMap>

</mapper>
